<h2>Create Account</h2>
<ul class="wayfx-list-check">
    <li>View & Track orders</li>
    <li>Express Checkout</li>
    <li>Customer Support</li>
    <li>Full Order History</li>
</ul>
{% form 'create_customer' %}
    {%- if request.path contains '/register' -%}
    {{ form.errors | default_errors }}
	{%- endif -%}
    <div class="wayfx-form__row">
        <div class="wayfx-form__group">
            <label for="FirstName" class="visually-hidden">{{ 'customer.register.first_name' | t }}</label>
            <input type="text" name="customer[first_name]" id="FirstName" class="input-full" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words">
        </div>
        <div class="wayfx-form__group">
            <label for="LastName" class="visually-hidden">{{ 'customer.register.last_name' | t }}</label>
            <input type="text" name="customer[last_name]" id="LastName" class="input-full" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">
        </div>
    </div>
    <div class="wayfx-form__group">
        <label for="Email" class="visually-hidden">{{ 'customer.register.email' | t }}</label>
        <input type="email" name="customer[email]" id="Email" required class="input-full{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'customer.register.email' | t }}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">
    </div>
    <div class="wayfx-form__group">
        <label for="CreatePassword" class="visually-hidden">{{ 'customer.register.password' | t }}</label>
        <input type="password" name="customer[password]" required id="CreatePassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.register.password' | t }}">
    </div>
    <div class="wayfx-form__group">
        <button type="submit" class="wayfx-btn">{{ 'customer.register.submit' | t }}</button>
    </div>
    <div class="wayfx-form__group">
        <small>By creating an account you agree to our <a href="http://heartandsoil.co/privacy-policy/">Terms</a></small>
    </div>
{% endform %}
	