{%- assign is_account_portal = false -%}
{%- if request.path contains '/tools/recurring' -%}
  {%- assign is_account_portal = true -%}
  {% layout none %}
  <!doctype html>
  <html>
    <head>
      <title>Redirecting...</title>
      <meta http-equiv="refresh" content="0;url=/a/account">
    </head>
    <body></body>
  </html>
{%- else -%}
  <!doctype html>
  <!--
    --

    WW      WW   AAA   YY   YY FFFFFFF XX    XX
    WW      WW  AAAAA  YY   YY FF       XX  XX
    WW   W  WW AA   AA  YYYYY  FFFF      XXXX
     WW WWW WW AAAAAAA   YYY   FF       XX  XX
      WW   WW  AA   AA   YYY   FF      XX    XX

    Ecommerce Pros at [https://wayfx.com]

    --
  -->
  <html lang="en">
    <head>
      {% if product.tags contains 'noindex' %}
        <meta name="robots" content="noindex">
      {% endif %}

      <!-- Google Optimize -->
      <script
        src="https://www.googleoptimize.com/optimize.js?id=OPT-547RS9G"
      ></script>
      {% include 'friendbuy' %}

      <meta
        name="google-site-verification"

        content="NhUacuWncFuQl8UY9h2jWL-wc6vU37R0audj1A8xCiE"
      >

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=Edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>
        {{ page_title }}
        {% if current_tags -%}
          {%- assign meta_tags = current_tags | join: ', ' %} &ndash;

          {{ 'general.meta.tags' | t: tags: meta_tags -}}
        {%- endif %}
        {% if current_page != 1 %}
          &ndash; {{ 'general.meta.page' | t: page: current_page -}}
        {%- endif %}
        {% if current_page != 1 %}
          &ndash; {{ 'general.meta.page' | t: page: current_page -}}
        {%- endif %}
        {% unless page_title contains shop.name %}
          &ndash; {{ shop.name -}}
        {%- endunless %}
        {% unless page_title contains shop.name %}
          &ndash; {{ shop.name -}}
        {%- endunless %}
      </title>
      {%- if page_description -%}
        <meta name="description" content="{{ page_description | escape }}">
      {%- endif -%}
      {%- include 'social-meta-tags' -%}
      <link rel="canonical" href="{{ canonical_url }}">
      <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}">
      {%- include 'header-scripts' -%}
      {{- 'theme.css' | asset_url | stylesheet_tag -}}
      {{ content_for_header }}
      {%- include 'oldIE-js' -%}
      {%- if template contains 'customers' -%}
        {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
      {%- endif -%}

      {%- if request.path contains '/recurring/portal' -%}
        {{ 'portal.scss.css' | asset_url | stylesheet_tag }}
      {%- endif -%}
      <meta
        name="facebook-domain-verification"
        content="jb38zgi56bgn4v5gp98pxg4nhlie81"
      >

      {% if product.handle == 'ab30stack'
        or product.handle == 'humankind-test-product'
        or product.handle == 'grass-fed-colostrum-test'
      %}
        <meta name="robots" content="noindex">
      {% endif %}

      <!-- Twitter conversion tracking base code -->
      <script>
        !(function (e, t, n, s, u, a) {
          e.twq ||
            ((s = e.twq =
              function () {
                s.exe ? s.exe.apply(s, arguments) : s.queue.push(arguments);
              }),
            (s.version = '1.1'),
            (s.queue = []),
            (u = t.createElement(n)),
            (u.async = !0),
            (u.src = 'https://static.ads-twitter.com/uwt.js'),
            (a = t.getElementsByTagName(n)[0]),
            a.parentNode.insertBefore(u, a));
        })(window, document, 'script');
        twq('config', 'ofhms');
      </script>
      <!-- End Twitter conversion tracking base code -->

      <script>
        document.addEventListener('DOMContentLoaded', function() {
          const isB2BCustomer = {% if customer.b2b? %}true{% else %}false{% endif %};
          if (isB2BCustomer) {
            const date = new Date();
            date.setTime(date.getTime() + (24 * 60 * 60 * 1000)); // Set for 1 day ahead
            document.cookie = `isB2B=true; expires=${date.toUTCString()}; path=/; domain=.heartandsoil.co; secure; SameSite=None`;
          } else {
            document.cookie = "isB2B=; Max-Age=0; path=/; domain=.heartandsoil.co; secure; SameSite=None";
          }
        });
      </script>

      <meta
        name="google-site-verification"
        content="NhUacuWncFuQl8UY9h2jWL-wc6vU37R0audj1A8xCiE"
      >

      <style>
        @font-face {
          font-family: 'torque_sense';
          src: url('{{ 'torque_sense-webfont.woff2' | asset_url }}') format('woff2'),
          url('{{ 'torque_sense-webfont.woff' | asset_url }}') format('woff');
          font-weight: normal;
          font-style: normal;
        }
      </style>
    </head>
    <body
      id="{{ page_title | handle }}"
      class="{% if template == 'product.warrior' %}warrior-custom {% endif %}{% if template == 'product.hp-new' %}her-package-custom {% endif %}{% if template == 'product.hp-vip' %}her-package-custom her-package-custom-vip {% endif %}{% if template == 'product.ab30-stack' %}ab30stack-custom {% endif %}{% if template == 'product.pal' %}rtnu-pal-product {% endif %}{% if template == 'product.giftcard' %}giftcard-custom {% endif %}{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}"
      {% if template == 'page.postscript-WARRIOR-subscribe' %}
        style="--warrior-bg: url('{{ 'hs-warrior-bg.jpg' | asset_img_url: '1750x' }}');"
      {% endif %}
    >
      <!-- Gorgias Chat Widget Start -->
      <script
        id="gorgias-chat-widget-install-v2"
        src="https://config.gorgias.chat/gorgias-chat-bundle-loader.js?applicationId=10522"
      ></script>
      <script id="gorgias-chat-shopify-install">
        !(function (_) {
          (_.SHOPIFY_PERMANENT_DOMAIN = '{{shop.permanent_domain}}'),
            (_.SHOPIFY_CUSTOMER_ID = '{{customer.id}}'),
            (_.SHOPIFY_CUSTOMER_EMAIL = '{{customer.email}}');
        })(window || {});
      </script>
      <!-- Gorgias Chat Widget End -->

      {%- section 'announcement-bar' -%}

      {% if template == 'product.hp-vip' %}
        {% render 'hp-topbar' %}
      {% endif %}

      {% if template == 'product.ab30-stack' %}
        {% render 'ab30stack-topbar' %}
      {% endif %}

      {%- section 'header-v3' -%}

      <main
        role="main"
        class="wayfx-main {% if template == 'page.mothersday' or template == 'page.fathersday' %}rtnu-main--alt{% endif %}"
      >
        {{ content_for_layout }}
      </main>

      {% if product.handle == 'ab30stack' %}
        {%- section 'ab30-footer' -%}
      {% else %}
        {%- section 'footer-v2' -%}
      {% endif %}

      <script src="{{ 'theme.js' | asset_url }}"></script>
      <script>
        {%- if resetPassword -%}
        $(function() {
          wayfx.resetPasswordSuccess();
        });
        {%- endif -%}
      </script>
      {% render 'preorder-now' %}
      {% comment %}Override GrowLTV linear background on slider bullets{% endcomment %}
      <style>
        .swiper-pagination-bullets {
          background: transparent !important;
        }
      </style>

      <script>
        function myInit() {
          StampedFn.init({
            apiKey: 'pubkey-AoI1OXh6K1Q27G9hQ0OQ5pcmvc6PHg',
            sId: '134922',
          });
        }
      </script>
      <script
        async
        onload="myInit()"
        type="text/javascript"
        src="https://cdn1.stamped.io/files/widget.min.js"
      ></script>
      {% if product.handle == 'whole-package' %}
        <!-- Conversion Pixel for [purchase]- DO NOT MODIFY -->
        <img
          src="https://arttrk.com/pixel/?ad_log=referer&action=purchase&pixid=1870b345-7f4b-4962-8fe8-1a55728874a7"
          width="1"
          height="1"
          border="0"
        >
        <!-- End of Conversion Pixel -->
      {% elsif product.handle == 'beef-organs' %}
        <!-- Conversion Pixel for [content]- DO NOT MODIFY -->
        <img
          src="https://arttrk.com/pixel/?ad_log=referer&action=content&pixid=1870b345-7f4b-4962-8fe8-1a55728874a7"
          width="1"
          height="1"
          border="0"
        >
        <!-- End of Conversion Pixel -->
      {% elsif product.handle == 'her-package' %}
        <!-- Conversion Pixel for [misc]- DO NOT MODIFY -->
        <img
          src="https://arttrk.com/pixel/?ad_log=referer&action=misc&pixid=1870b345-7f4b-4962-8fe8-1a55728874a7"
          width="1"
          height="1"
          border="0"
        >
        <!-- End of Conversion Pixel -->
      {% endif %}
    </body>
  </html>
{% endif %}
