{% comment %}
-------------------------------------------------------------------------------
Customer trust
-------------------------------------------------------------------------------
Description
Describe the Customer trust
-------------------------------------------------------------------------------
Usage
{% section 'customer-trust' %}
-------------------------------------------------------------------------------
{% endcomment %}

<section class="rtnu-customer-trust">
  <div class="rtnu-customer-trust__head">
    <svg xmlns="http://www.w3.org/2000/svg" width="218" height="40" fill="none" viewBox="0 0 218 40"><path fill="#FFA221" d="m21.0188 3.24692 3.8344 11.34688 11.9781.1406c1.0312.0125 1.4562 1.325.6312 1.9375l-9.6093 7.1531 3.5687 11.4344c.3063.9844-.8094 1.7938-1.65 1.2L20 29.5282l-9.7718 6.9281c-.84066.5969-1.95628-.2156-1.65003-1.1969L12.1469 23.825l-9.60936-7.1531c-.82812-.6156-.4-1.9281.63125-1.9406l11.97811-.1375 3.8313-11.35c.3312-.975 1.7125-.975 2.0406.00312Zm44.4451 0 3.8343 11.34688 11.9782.1406c1.0312.0125 1.4562 1.325.6312 1.9375l-9.6094 7.1531 3.5688 11.4344c.3062.9844-.8094 1.7938-1.65 1.2l-9.7719-6.9312-9.7719 6.9281c-.8406.5969-1.9562-.2156-1.65-1.1969L56.592 23.825l-9.6094-7.1531c-.8281-.6156-.4-1.9281.6313-1.9406l11.9781-.1375 3.8312-11.35c.3313-.975 1.7125-.975 2.0407.00312Zm44.4451 0 3.834 11.34688 11.978.1406c1.032.0125 1.457 1.325.632 1.9375l-9.61 7.1531 3.569 11.4344c.306.9844-.809 1.7938-1.65 1.2l-9.772-6.9312-9.7717 6.9281c-.8406.5969-1.9562-.2156-1.65-1.1969l3.5687-11.4344-9.6093-7.1531c-.8281-.6156-.4-1.9281.6312-1.9406l11.9781-.1375 3.831-11.35c.332-.975 1.713-.975 2.041.00312Zm44.445 0 3.835 11.34688 11.978.1406c1.031.0125 1.456 1.325.631 1.9375l-9.609 7.1531 3.568 11.4344c.307.9844-.809 1.7938-1.65 1.2l-9.772-6.9312-9.771 6.9281c-.841.5969-1.957-.2156-1.65-1.1969l3.568-11.4344-9.609-7.1531c-.828-.6156-.4-1.9281.631-1.9406l11.978-.1375 3.832-11.35c.331-.975 1.712-.975 2.04.00312Zm44.445 0 3.835 11.34688 11.978.1406c1.031.0125 1.456 1.325.631 1.9375l-9.609 7.1531 3.568 11.4344c.307.9844-.809 1.7938-1.65 1.2l-9.771-6.9312-9.772 6.9281c-.841.5969-1.957-.2156-1.65-1.1969l3.568-11.4344-9.609-7.1531c-.828-.6156-.4-1.9281.631-1.9406l11.978-.1375 3.832-11.35c.331-.975 1.712-.975 2.04.00312Z"/></svg>
    <h2>TRUSTED BY {{ settings.customer_count }} CUSTOMERS</h2>
  </div>

  <div id="rtnu-customer-carousel" class="splide" aria-label="customers testimonials carousel">
    <div class="splide__track">
      <ul class="splide__list">
        {% for block in section.blocks %}
        <li class="splide__slide" {{ block.shopify_attributes }}>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" fill="none" viewBox="0 0 24 20"><path fill="#fff" d="M5.44928 20c-1.81643 0-3.18841-.657-4.11595-1.971C.444444 16.6763 0 14.8019 0 12.4058c0-2.74396.676328-5.15942 2.02899-7.24638C3.38164 3.07246 5.44927 1.35266 8.23188 0L10.087 3.71015c-1.73917.88888-3.05318 1.91304-3.94207 3.07246-.85024 1.12077-1.27536 2.55072-1.27536 4.28989.11594-.0387.30917-.058.57971-.058 1.23671 0 2.28019.3865 3.13043 1.1594.88889.7343 1.33333 1.7585 1.33333 3.0725 0 1.4686-.42512 2.628-1.27536 3.4782C7.78744 19.5749 6.72464 20 5.44928 20Zm12.98532 0c-1.8164 0-3.1884-.657-4.116-1.971-.8888-1.3527-1.3333-3.2271-1.3333-5.6232 0-2.74396.6763-5.15942 2.029-7.24638C16.3669 3.07246 18.4346 1.35266 21.2172 0l1.8551 3.71015c-1.7392.88888-3.0532 1.91304-3.9421 3.07246-.8502 1.12077-1.2753 2.55072-1.2753 4.28989.1159-.0387.3091-.058.5797-.058 1.2367 0 2.2802.3865 3.1304 1.1594.8889.7343 1.3333 1.7585 1.3333 3.0725 0 1.4686-.4251 2.628-1.2753 3.4782C20.7727 19.5749 19.7099 20 18.4346 20Z"/></svg>
          <p>{{ block.settings.quote }}</p>
          <cite>
            <p>{{ block.settings.name }}</p>
            <a href="{{ block.settings.link_url }}" target="_blank">{{ block.settings.link_title }}</a>
          </cite>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Customer Trust",
  "limit": 1,
  "blocks": [
    {
      "type": "quote",
      "name": "Quote",
      "settings": [
        {
          "type": "text",
          "id": "quote",
          "label": "Quote"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        },
        {
          "type": "text",
          "id": "link_title",
          "label": "Link Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Customer Trust"
    }
  ]
}
{% endschema %}