<footer class="wayfx-footer">
   <div class="wayfx-wrapper">
      <div class="wayfx-grid">
         <div class="wayfx-grid--item">
            <a href="/">
               {% include 'svg-heart-and-soil-stacked' %}
            </a>
         </div>


         {%- for link in linklists.wayfx-footer.links -%}
            <div class="wayfx-grid--item">
               <h2>{{ link.title }}</h2>
               <ul>
                  {%- for sub_link in link.links -%}
                     {%- unless sub_link.title contains 'Follow us' -%}
                        <li><a href="{{ sub_link.url }}">{{ sub_link.title }}</a></li>
                     {%- endunless -%}
                  {%- endfor -%}
               </ul>
               {%- for sub_link in link.links -%}
                  {%- if sub_link.title contains 'Follow us' -%}
                  <h2>{{ sub_link.title }}</h2>
                  <ul class="wayfx-socialMedia">
                     {%- for social in sub_link.links -%}
                        {%- if social.title contains 'Instagram' -%}
                           <li><a href="{{ social.url }}" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path fill="#D7AA8B" fill-rule="nonzero" d="M9.45454545 0C4.24 0 0 4.24 0 9.45454545V22.5454545C0 27.76 4.24 32 9.45454545 32H22.5454545C27.76 32 32 27.76 32 22.5454545V9.45454545C32 4.24 27.76 0 22.5454545 0H9.45454545zM24.7272727 5.81818182c.8 0 1.4545455.65454545 1.4545455 1.45454545 0 .8-.6545455 1.45454546-1.4545455 1.45454546s-1.4545454-.65454546-1.4545454-1.45454546.6545454-1.45454545 1.4545454-1.45454545zM16 8c4.4145455 0 8 3.5854545 8 8s-3.5854545 8-8 8-8-3.5854545-8-8 3.5854545-8 8-8zm0 1.45454545c-3.6072727 0-6.54545455 2.93818185-6.54545455 6.54545455 0 3.6072727 2.93818185 6.5454545 6.54545455 6.5454545 3.6072727 0 6.5454545-2.9381818 6.5454545-6.5454545 0-3.6072727-2.9381818-6.54545455-6.5454545-6.54545455z"/></svg></a></li>
                        {%- endif -%}
                        {%- if social.title contains 'Facebook' -%}
                           <li><a href="{{ social.url }}" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path fill="#D7AA8B" fill-rule="nonzero" d="M28.1904762 0H3.80952381C1.70666667 0 0 1.70666667 0 3.80952381V28.1904762C0 30.2933333 1.70666667 32 3.80952381 32H28.1904762C30.2933333 32 32 30.2933333 32 28.1904762V3.80952381C32 1.70666667 30.2933333 0 28.1904762 0zm-3.0476191 11.4285714h-1.5238095c-1.6304762 0-2.2857143.3809524-2.2857143 1.5238096v2.2857142h3.8095238l-.7619047 3.8095238h-3.0476191v11.4285715h-3.8095238V19.047619h-3.047619v-3.8095238h3.047619V12.952381c0-3.0476191 1.5238095-5.33333338 4.5714286-5.33333338 2.2095238 0 3.047619.76190476 3.047619.76190476v3.04761902z"/></svg></a></li>
                        {%- endif -%}
                        {%- if social.title contains 'YouTube' -%}
                           <li><a href="{{ social.url }}" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 32" width="32" height="32"><path fill="#D7AA8B" fill-rule="evenodd" d="M7.38461538 0l2.46153847 7.38461538v4.92307692h1.64102565V7.38461538L13.9487179 0h-1.6410256l-1.6410256 4.92307692L9.02564103 0H7.38461538zm9.02564102 3.28205128c-.8749998 0-1.3044874.13782072-1.8397432.57692308-.5128205.43269251-.6538461.76602585-.6217953 1.88461538v4.10256411c0 .81730785.1346158 1.35576945.6282052 1.83333335.5128205.4775639.9967951.6282051 1.8333333.6282051.8749998 0 1.3525645-.1506412 1.8461539-.6282051.5128205-.4583336.6153846-1.0160255.6153846-1.83333335V5.74358974c0-.72435856-.1282052-1.41025641-.6250002-1.86858995-.5128205-.47115323-1.0416665-.59294851-1.8365383-.59294851zm4.1025641 0v7.38461542c0 .7980767.8044874 1.6410256 1.6410257 1.6410256.8365382 0 1.2788463-.419872 1.6410256-.8205128v.8205128h1.6410256V3.28205128h-1.6410256v6.56410257c-.0096156.56089765-.6698716.82051285-.8205128.82051285-.1698716 0-.8205128-.0352566-.8205128-.82051285V3.28205128h-1.6410257zm-4.1025641 1.64102545c.2467947 0 .8205128-.00320473.8205128.82051301v4.10256411c0 .79487175-.5544869.82051285-.8205128.82051285-.2467947 0-.8205128-.0096156-.8205128-.82051285V5.74358974c0-.66987159.3557694-.82051301.8205128-.82051301zM4.92307692 13.9487179C1.97435897 13.9487179 0 15.9038466 0 18.8717949v7.7948718C0 29.6346158 1.97435897 32 4.92307692 32H29.5384615c2.948718 0 4.923077-1.9551278 4.923077-4.9230769v-8.2051282c0-2.9679483-1.974359-4.923077-4.923077-4.923077H4.92307692zm1.64102564 3.2820513h4.92307694v1.6410257H9.84615385v9.8461538H8.20512821v-9.8461538H6.56410256v-1.6410257zm11.48717954 0h1.6410256v3.2820513c.1891028-.2948718.471154-.5288459.7403848-.660256.2628201-.1346158.528846-.2115389.7980767-.2115389.5320517 0 .948718.1923077 1.2339742.5512821.285257.3621793.5096156.8429489.5096156 1.551282v4.923077c0 .6089747-.2051282.9871795-.474359 1.3108972-.2628201.3237186-.6570511.733975-1.1666667.7403848-.8621792.0096156-1.3237177-.4519229-1.6410256-.8205128v.8205128h-1.6410256V17.2307692zm-6.5641026 2.4615385h1.6410256v6.5641026c0 .1891027.2211537.8269234.8205128.8205128.6666667-.0064099.6730774-.6282052.8205129-.8205128v-6.5641026h1.6410256v9.025641h-1.6410256v-.8205128c-.3044874.3589744-.4615385.471154-.8044874.6410256-.3397432.1923077-.685897.1794872-1.0064099.1794872-.3974359 0-.8493587-.3589743-1.0608976-.6282051-.1891028-.2467947-.4102564-.5-.4102564-1.0128205v-7.3846154zm14.9326925 0c.7788464 0 1.3269227.1666667 1.7403848.6025641.4230769.4358974.5576919.945513.5576919 1.7660258v2.554487h-3.2820513v1.2692308c0 .4583335.0608977.7500004.1794872.9230769.1121797.1891028.339744.2724357.6410257.2692308.3333333-.0032049.5448722-.0705124.657051-.2211537.1153846-.1346158.1634618-.5160254.1634618-1.0096156v-.4102564h1.6410256v.4871795c0 .894231-.0705124 1.5608977-.5128205 1.9967951-.4166663.4583335-1.0673075.6698716-1.919872.6698716-.7788455 0-1.3878203-.2307692-1.8237177-.7051282-.4358975-.474359-.6634618-1.1250002-.6634618-1.9615385v-3.8621793c0-.7435897.259616-1.2948718.7371799-1.7852562.3846154-.3942309 1.105769-.5833337 1.8846154-.5833337zm-5.9070515 1.2307692c-.4519229 0-.8141021.4070515-.8205128.8205128v4.923077c.0064107.2371799.3685899.4102564.8205128.4102564s.8205128-.3493588.8205128-.8012817v-4.1217952c0-.8205129-.3685899-1.2307693-.8205128-1.2307693zm5.7435898.4102564c-.4519229 0-.8141022.3814105-.8205129.8205129v.8205128h1.6410257v-.8205128c0-.503205-.36859-.8205129-.8205128-.8205129z"/></svg></a></li>
                        {%- endif -%}
                        {% if social.title contains 'Twitter' %}
                           <li><a href="{{ social.url }}" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 46"><g clip-path="url(#twitter)"><path fill="#D7AA8B" d="M46.0569 9.57876c-1.6957.75284-3.5133 1.25834-5.4242 1.48784 1.9503-1.16877 3.4488-3.01866 4.1515-5.2199-1.8212 1.07911-3.8468 1.86424-5.9942 2.28728-1.7209-1.83556-4.173-2.97919-6.8869-2.97919-5.2127 0-9.4395 4.22321-9.4395 9.43591 0 .7385.086 1.4591.2473 2.151-7.8441-.3943-14.79554-4.1515-19.45255-9.8625-.81381 1.39818-1.27628 3.01863-1.27628 4.7466 0 3.2732 1.66347 6.1628 4.19811 7.8585-1.54875-.0502-3.00428-.4768-4.27698-1.1831v.1183c0 4.5746 3.25524 8.3855 7.56808 9.2567-.78872.2151-1.62404.3298-2.48445.3298-.60947 0-1.201-.0573-1.7782-.1721 1.20458 3.7464 4.68927 6.4818 8.81567 6.5571-3.2265 2.5311-7.2956 4.0368-11.71958 4.0368-.76362 0-1.512895-.043-2.2478352-.1326C4.22991 40.9768 9.19164 42.5363 14.5226 42.5363c17.359 0 26.8522-14.3797 26.8522-26.8486 0-.4087-.0107-.821-.0251-1.2225 1.8427-1.33 3.4417-2.9935 4.7072-4.88644Z"/></g><defs><clipPath id="twitter"><path fill="#fff" d="M.111084 0h45.8889v45.8889H.111084z"/></clipPath></defs></svg></a></li>
                        {% endif %}
                     {%- endfor -%}
                  </ul>
                  {%- for social in sub_link.links -%}
                  {%- if social.title contains 'Instagram' -%}
                  <p><a href="https://www.instagram.com/explore/tags/heartandsoil/" target="_blank">#heartandsoil</a></p>
                  {%- endif -%}
                  {%- endfor -%}
                  {%- endif -%}
               {%- endfor -%}
            </div>
         {% endfor %}
      </div>

      <div class="wayfx-footer-info">
         <div class="wayfx-footer-info--left">
            <p>&copy; {{ 'now' | date: "%Y" }} Heart&Soil. All rights reserved.</p>
            <div>
              <a href="https://heartandsoil.co/privacy-policy/">Privacy Policy</a>
              <a href="https://heartandsoil.co/terms-of-service/">Terms of Service</a>
              {% comment %}<p>Site by <a href="https://growltv.com/?ref=heartandsoil" target="_blank">GrowLTV</a> and <a href="https://runthenumbersup.com/?ref=heartandsoil" target="_blank">RTNU</a></p>{% endcomment %}               </div>
         </div>
         <div class="wayfx-footer-info--right">
            <div class="notice">
               <p>* These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure or prevent any disease.</p>
            </div>
            <p>The FDA plays a specific role in regulating the nutraceutical industry. <a href="https://www.fda.gov/food/guidance-documents-regulatory-information-topic-food-and-dietary-supplements/dietary-supplements-guidance-documents-regulatory-information" target="_blank">Learn more</a>.</p>
         </div>
      </div>
   </div>
</footer>