{% comment %}
-------------------------------------------------------------------------------
LP Reviews
-------------------------------------------------------------------------------
Usage
{% section 'lp-reviews' %}
-------------------------------------------------------------------------------
{% endcomment %}

{% liquid
  assign sectionTitle = section.settings.title
%}

<section class="rtnu-lp__reviews">
  {% if sectionTitle != blank %}
    <div class="rtnu-wrapper">
      <h2>{{ sectionTitle }}</h2>
    </div>
  {% endif %}

  {% if section.blocks.size > 0 %}
  <section class="splide rtnu-lp__reviews-slider" aria-label="{{ sectionTitle }}">
    <div class="splide__track">
      <ul class="splide__list">
        {% for block in section.blocks %}
          <li class="splide__slide" {{ block.shopify_attributes }}>
            <svg xmlns="http://www.w3.org/2000/svg" width="166" height="26" fill="none" viewBox="0 0 166 26"><path fill="#FFA221" d="m14.9364.558441 3.0265 8.640819 9.4563.10557c.8137.00914 1.1505 1.00907.4979 1.47707l-7.5867 5.4451 2.818 8.7058c.2421.7492-.639 1.3664-1.3032.9126l-7.7141-5.2756-7.7151 5.2746c-.6632.4538-1.54535-.1644-1.30323-.9126l2.81804-8.7058-7.586699-5.4452c-.652665-.4679-.3158058-1.46785.497919-1.47698l9.45627-.10558L13.3248.557426c.261-.743078 1.3516-.743078 1.6116.001015Z"/><path fill="#FFA221" d="m49.3039.558197 3.0264 8.640813 9.4563.10558c.8137.00913 1.1506 1.00901.4979 1.47701l-7.5867 5.4452 2.818 8.7058c.2422.7491-.6389 1.3663-1.3032.9126l-7.714-5.2757-7.7152 5.2747c-.6632.4537-1.5453-.1645-1.3032-.9126l2.818-8.7058-7.5867-5.4452c-.6526-.468-.3158-1.46789.498-1.47703l9.4562-.10557L47.6922.557181c.2611-.743077 1.3516-.743077 1.6117.001016Z"/><path fill="#FFA221" d="m83.6942.558197 3.0265 8.640813 9.4563.10558c.8137.00913 1.1506 1.00901.4979 1.47701l-7.5867 5.4452 2.818 8.7058c.2421.7491-.639 1.3663-1.3032.9126l-7.7141-5.2757-7.7151 5.2747c-.6632.4537-1.5453-.1645-1.3032-.9126l2.818-8.7058-7.5867-5.4452c-.6526-.468-.3158-1.46789.4979-1.47703l9.4563-.10557L82.0826.557181c.261-.743077 1.3516-.743077 1.6116.001016Z"/><path fill="#FFA221" d="m118.084.558197 3.027 8.640813 9.456.10558c.814.00913 1.151 1.00901.498 1.47701l-7.587 5.4452 2.818 8.7058c.242.7491-.639 1.3663-1.303.9126l-7.714-5.2757-7.715 5.2747c-.663.4537-1.545-.1645-1.303-.9126l2.818-8.7058-7.587-5.4452c-.653-.468-.316-1.46789.498-1.47703l9.456-.10557 3.027-8.640819c.261-.743077 1.351-.743077 1.611.001016Z"/><path fill="#FFA221" d="m152.452.558197 3.026 8.640813 9.457.10558c.813.00913 1.15 1.00901.497 1.47701l-7.586 5.4452 2.818 8.7058c.242.7491-.639 1.3663-1.303.9126l-7.714-5.2757-7.716 5.2747c-.663.4537-1.545-.1645-1.303-.9126l2.818-8.7058-7.587-5.4452c-.652-.468-.315-1.46789.498-1.47703l9.457-.10557L150.84.557181c.261-.743077 1.352-.743077 1.612.001016Z"/></svg>
            {{ block.settings.review }}
            <div class="bottom">
              <p>{{ block.settings.name }}</p>
              <span>HEART &amp; SOIL CUSTOMER</span>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  {% endif %}
</section>

{% schema %}
{
  "name": "LP Reviews",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Heading",
      "default": "WHAT PEOPLE ARE SAYING..."
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "limit": 4,
      "settings": [
        {
          "type": "richtext",
          "id": "review",
          "label": "Review"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "LP Reviews"
    }
  ]
}
{% endschema %}