{%- liquid
  assign id = '#shopify-section-' | append: section.id
  assign product_form_id = 'rtnu-product-form-' | append: section.id
  assign current_variant = product.selected_or_first_available_variant
  assign subscription_product = product.metafields.subscriptions
  assign subscription_variant_id = product.selected_or_first_available_variant.metafields.subscriptions.discount_variant_id
  assign discount_percentage = subscription_product.discount_percentage | round: 2
  assign discount_floor = subscription_product.discount_percentage | floor
  if discount_percentage == discount_floor
      assign discount_percentage = discount_floor
  endif

  assign plan_id = current_variant.selling_plan_allocations[0].selling_plan.id
  assign plan_percentage = current_variant.selling_plan_allocations[0].selling_plan.price_adjustments[0].value
  assign plan_percentage_decimal = plan_percentage | times: 1.0 | divided_by: 100
  assign plan_discount = current_variant.price | times: plan_percentage_decimal
  assign plan_price = current_variant.price | minus: plan_discount
  assign selected_plan_discount = current_variant.price | times: plan_percentage_decimal
  assign selected_plan_price = current_variant.price | minus: selected_plan_discount


  assign sold_out = true
  if current_variant.available
      assign sold_out = false
  endif
  assign product_subheading = product.metafields.sf_product_hero.sub_heading
  assign product_description = product.metafields.sf_product_hero.description
  assign product_size = product.metafields.sf_product_hero.product_size
  assign supplemental_item_1 = product.metafields.sf_product_hero.supplemental_item_1
  assign supplemental_item_2 = product.metafields.sf_product_hero.supplemental_item_2
  assign supplemental_item_3 = product.metafields.sf_product_hero.supplemental_item_3
  assign supplemental_item_4 = product.metafields.sf_product_hero.supplemental_item_4
  assign supplemental_item_5 = product.metafields.sf_product_hero.supplemental_item_5
  assign supplemental_item_6 = product.metafields.sf_product_hero.supplemental_item_6
  assign supplemental_item_7 = product.metafields.sf_product_hero.supplemental_item_7
  assign supplemental_item_8 = product.metafields.sf_product_hero.supplemental_item_8
-%}

<div class="wayfx-wrapper">
  <div class="wayfx-grid">
      <div class="wayfx-grid__item mobile-only wayfx-product__details">
          <h1 class="wayfx-product__title">{{ product.title }}</h1>
          <div class="wayfx-product__actions">
              <div class="wayfx-product__reviews-widget">
                  <a href="#reviews">
                      <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}" data-product-sku="{{ product.handle }}" data-product-type="{{product.type}}" data-product-title="{{product.title}}" style="display: inline-block;">{{ product.metafields.stamped.badge }}</span>
                  </a>
              </div>
          </div>
      </div>
      <div class="wayfx-grid__left wayfx-product__photos">
        {%- for image in product.images -%}
          <div {% if image.attached_to_variant? %}data-variant="{{ image.variants | map: 'id' | join: ',' }}"{% endif %}>
            <a href="{{ image.src | image_url: width: 2000 }}" data-fancybox="wayfx-pdp-media"><img src="{{ image.src | image_url: width: 1200 }}" alt="{{ image.alt | escape }}" data-image-id="{{ image.id }}"></a>
          </div>
        {%- endfor -%}
      </div>
      <div class="wayfx-grid__right wayfx-product__details" id="wayfx-product">
          <div class="desktop-only">
              <h1 class="wayfx-product__title">{{ product.title }}</h1>
              <div class="wayfx-product__actions">
                  <div class="wayfx-product__reviews-widget">
                      <a href="#reviews">
                          <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}" data-product-sku="{{ product.handle }}" data-product-type="{{product.type}}" data-product-title="{{product.title}}" style="display: inline-block;">{{ product.metafields.stamped.badge }}</span>
                      </a>
                  </div>
              </div>
          </div>
          <div class="wayfx-product__description">
              {%- if product_subheading -%}<h2>{{ product_subheading }}</h2>{%- endif -%}
              {% if product_description != blank %}
                {{ product_description }}
              {% else%}
              {{ product.description }}
              {% endif %}
          </div>

          <div class="wayfx-product-form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <meta itemprop="priceCurrency" content="{{ shop.currency }}">
              <link itemprop="availability"
                      href="http://schema.org/{%- if product.available -%}InStock{%- else -%}OutOfStock{%- endif -%}">
              <form action="/cart/add" method="post" enctype="multipart/form-data" id="{{ product_form_id }}" class="GrowAOV-Form" data-productid="{{ product.id }}">
                <input type="hidden" name="id" data-productid="{{ product.id }}" value="{{ product.selected_or_first_available_variant.id }}">
                <input type='hidden' name='quantity' value='1'>

                {% comment %} Show product variants if any {% endcomment %}
                {% if product.variants.size > 1 %}
                  <div id="{{ product_form_id }}-rtnu-product-variants" class="rtnu-product__variants" data-section="{{ section.id }}">
                    <fieldset>
                      <legend class="rtnu-product__form-item-label visually-hidden">Size</legend>
                      <div class="rtnu-single-option-radio__flex">
                        {% for variant in product.variants %}
                          {%- liquid
                            assign plan_discount = variant.price | times: plan_percentage_decimal
                            assign plan_price = variant.price | minus: plan_discount
                            assign pouch_count = variant.metafields.rtnu.pouch_count
                          -%}
                          <div class="rtnu-option rtnu-option-{{ variant.id }}">
                            <input type="radio"
                              {% if variant.compare_at_price > variant.price %} data-compare-at-price="{{ variant.compare_at_price | money_without_trailing_zeros }}"{% endif %}
                              data-id="{{ variant.id }}"
                              data-price="{{ variant.price | money_without_trailing_zeros }}"
                              data-sub-price="{{ plan_price | money }}"
                              data-price-raw="{{ variant.price | money_without_currency }}"
                              data-sub-price-raw="{{ plan_price | money_without_currency }}"
                              data-sub-id="{{ variant.selling_plan_allocations[0].selling_plan.id }}"
                              id="{{ product_form_id }}-{{ variant.id }}"
                              data-sub-discount={{ plan_discount | money }}
                              value="{{ variant.id }}"
                              name="id"
                              data-productid="{{ product.id }}"
                              data-item-count="{{ pouch_count }}"
                              form="{{ product_form_id }}"
                              {% if variant == product.selected_or_first_available_variant %} checked="checked"{% endif %}
                            >
                            <label for="{{ product_form_id }}-{{ variant.id }}" class="{{ variant.title | downcase | handleize }}">
                              <span class="rtnu-product__form-item-value">{{ variant.title }}</span>

                              {% if pouch_count != blank %}
                                <span class="rtnu-product__form-item-single-cost"><span class="rtnu-product__form-item-single-cost-price"></span> / Stick</span>
                              {% endif %}
                            </label>
                          </div>
                        {% endfor %}
                      </div>
                    </fieldset>
                  </div>
                  {% endif %}

                  <div class="wayfx-product-form__item wayfx-product-form__item--w-label">
                    <label class="wayfx-product-form__item-label" for="Recipient-send-on-{{ section.id }}">
                      Deliver e-Gift card on this Date:
                    </label>
                    <input
                      class="field__input text-body"
                      autocomplete="send_on"
                      type="date"
                      id="Recipient-send-on-{{ section.id }}"
                      name="properties[Send on]"
                      pattern="\d{4}-\d{2}-\d{2}"
                      value="{{ "now" | date: "%Y-%m-%d" }}"
                    >
                  </div>

                {% if plan_id %}
                  <div class="wayfx-product-form__item">
                      <label class="wayfx-product-form__item-label visually-hidden">Subscribe</label>
                      <fieldset class="single-option-radio" name="type" id="ProductSelect-option-1">
                          <div class="single-option-radio__group">
                              <div>
                                  <input checked type="radio"
                                          value="{{ product.selected_or_first_available_variant.id }}"
                                          name="id"
                                          class="single-option-selector__radio single-option--purchaseType single-option--purchaseType-subscription"
                                          id="purchaseType--subscription">
                                  <label for="purchaseType--subscription" class="purchaseType-subscription selected">
                                      <p>Subscribe &amp; Save <small>Monthly Subscription. Change or Cancel Anytime</small></p>
                                      <span class="single-option-radio__price">{{ selected_plan_price | money }}</span>
                                  </label>
                                  <div class="single-option-selector__dropdown">
                                    <div class="wayfx-product-form__item-label">Deliver every</div>
                                    <div class="single-option-selector__select">
                                      <select name="selling_plan">
                                        {%- for allocation in current_variant.selling_plan_allocations -%}
                                            <option value="{{ allocation.selling_plan.id }}">{{ allocation.selling_plan.name | replace: "Delivers every", "" }}</option>
                                        {%- endfor -%}
                                      </select>
                                    </div>
                                  </div>
                              </div>
                              <div>
                                  <input type="radio"
                                          value="{{ product.selected_or_first_available_variant.id }}"
                                          name="id"
                                          class="single-option-selector__radio single-option--purchaseType single-option--purchaseType-one-time"
                                          id="purchaseType--one-time">
                                  <label for="purchaseType--one-time" class="purchaseType-one-time">
                                      <p>One Time Purchase</p>
                                      <span class="single-option-radio__price">{{ current_variant.price | money }}</span>
                                  </label>
                              </div>
                          </div>
                      </fieldset>
                  </div>
                {%- endif -%}

                <div class="wayfx-product-form__item">
                  {% comment %} <div class="wayfx-product-form__item-group">
                      <span class="visually-hidden">{%- if subscription_id -%}{{ current_variant.metafields.subscriptions.discount_variant_price | times: 100 | money }}{%- else -%}{{ current_variant.price | money }}{%- endif -%}</span>
                      <p id="ProductPrice" itemprop="price" content="{{ current_variant.price | money }}">
                      {%- if subscription_id -%}{{ current_variant.metafields.subscriptions.discount_variant_price | times: 100 | money }}{%- else -%}{{ current_variant.price | money }}{%- endif -%}
                      </p>
                      <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
                      <p id="ComparePrice">{%- if subscription_id -%}{{ current_variant.price | money_without_trailing_zeros }}{%- else -%}{{ current_variant.compare_at_price | money_without_trailing_zeros }}{%- endif -%}</p>
                  </div> {% endcomment %}
                  <div class="wayfx-product-form__item-group">
                      <div class="product-single__quantity">
                        <label for="Quantity" class="quantity-selector visually-hidden">Quantity</label>
                        <input type='button' value='-' class='qtyminus' field='quantity' />
                        <input type='text' name='quantity' id="quantity" value='1' min="1" class='qty' />
                        <input type='button' value='+' class='qtyplus' field='quantity' />
                      </div>
                      <button type="submit" name="add" id="AddToCart" class="wayfx-btn {% if sold_out %} wayfx-btn__sold-out{% endif %}" {% if sold_out %}disabled{% endif %}>
                          <span id="AddToCartText">{%- if sold_out -%}Sold Out{%- else -%}Add to Cart{%- endif -%}</span>
                      </button>
                  </div>
                </div>
              </form>
          </div>
      </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Hero",
  "tag": "section",
  "class": "wayfx-product__hero"
}
{% endschema %}

<script>
  window.addEventListener('DOMContentLoaded', (e) => {
    let productForm = document.querySelector('#{{ product_form_id }}'),
        productVariantsOptions = productForm.querySelectorAll('.rtnu-product__variants .rtnu-option'),
        productId = productForm.querySelector('[name="id"]');

    if (typeof productVariantsOptions !== undefined && productVariantsOptions !== null) {
      productVariantsOptions.forEach(variant => {
        // handle product variant selection
        variant.addEventListener('change', (e) => {
          let variant_id = e.target.value,
              variant_subscription_id = e.target.dataset.subId,
              variant_price = e.target.dataset.price,
              variant_subscription_price = e.target.dataset.subPrice,
              variant_sub_discount = e.target.dataset.subDiscount;

          productId.value = variant_id;
        });

      });
    }
  });
</script>

{% if plan_id %}
  <script>
    $("#ProductSelect-option-1 label").on('click', function () {
      var $this = $(this),
          is_subscription = false;

      if($this.hasClass("purchaseType-subscription")) {
          is_subscription = true;
      }

      if(is_subscription) {
          $(".single-option-selector__dropdown select").attr('name', 'selling_plan');
          $(".single-option-selector__dropdown").show();
      } else {
          $(".single-option-selector__dropdown select").attr('name', '');
          $(".single-option-selector__dropdown").hide();
      }

      $("#ProductSelect-option-1 label").removeClass('selected');
      $this.addClass('selected');
      $(this).closest('input').prop( "checked", true );

    });
  </script>

  <style>
   .single-option-selector__dropdown {
      display: flex;
      align-items: center;
      margin-top: 15px;
      padding-left: 36px;
    }

    .single-option-selector__dropdown .wayfx-product-form__item-label {
      font-size: 0.95rem;
      margin-right: 5px;
    }

    .single-option-selector__select {
      width: 100%;
      max-width: 100px;
      border: 1px solid #e0ceba;
      border-radius: 6px;
      font-size: 0.9rem;
      margin-top: 0 !important;
      cursor: pointer;
      line-height: 1.1;
      background-color: #eadac8;
      background-image: url("data:image/svg+xml,%3Csvg width='17' height='11' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.406.992L.992 2.406l8.004 8.004 8.006-7.898-1.404-1.424L9.004 7.59z' fill='%23994e0e' fill-rule='nonzero'/%3E%3C/svg%3E%0A");
      background-position: right 10px center;
      background-repeat: no-repeat;
      background-size: auto 9px;
    }

    .single-option-selector__dropdown select {
      appearance: none;
      background-color: transparent;
      border: none;
      padding: 6px 10px;
      margin: 0;
      width: 100%;
      font-family: inherit;
      font-size: inherit;
      cursor: inherit;
      line-height: inherit;
      outline: none;
      -webkit-appearance: none;
    }

    .single-option-selector__dropdown select::-ms-expand {
      display: none;
    }
  </style>
{% endif %}