<div id="reviews" class="wayfx-wrapper">
  	<h2>They love Heart &amp; Soil</h2>
    <p>And we think you will too</p>
    <div id="stamped-main-widget"
         data-widget-style="standard"
         data-product-id="{{ product.id }}"
         data-name="{{ product.title | escape }}"
         data-url="{{ shop.url }}{{ product.url }}"
         data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
         data-description="{{ product.description | escape }}"
         data-product-sku="{{product.handle}}"
         data-product-type="{{product.type}}">
    </div>
</div>

<script>
</script>

{% schema %}
{
    "name": "Product Reviews",
    "tag": "section",
    "class": "wayfx-product__reviews"
}
{% endschema %}