{% comment %}
-------------------------------------------------------------------------------
Stacks callout quote
-------------------------------------------------------------------------------
Usage
{% section 'stacks-callout-quote' %}
-------------------------------------------------------------------------------
{% endcomment %}

{% liquid
  assign background_image = section.settings.background_image
  assign quote = section.settings.quote
  assign author = section.settings.author
  assign author_title = section.settings.author_title
%}

<section class="rtnu-callout-quote">
  {% if background_image != blank %}
  {{ background_image | image_url: width: 2800 | image_tag: class: 'rtnu-callout-quote__background' }}
  {% else %}
  {{ 'image' | placeholder_svg_tag }}
  {% endif %}

  <div class="rtnu-wrapper">
    <blockquote class="rtnu-callout-quote__content">
      <svg class="rtnu-quote-icon" xmlns="http://www.w3.org/2000/svg" width="45" height="34" fill="none" viewBox="0 0 45 34"><path fill="#F5E7D4" d="M11.0387 33.6205c-3.43098 0-6.0225-1.0745-7.77452-3.2235C1.58517 28.1848.745667 25.1193.745667 21.2006c0-4.4876 1.277513-8.4379 3.832523-11.85104C7.13321 5.93646 11.0387 3.12382 16.2948.911621l3.504 6.067729c-3.285 1.45373-5.767 3.12865-7.446 5.02485-1.6061 1.833-2.40907 4.1716-2.40907 7.0158.21897-.0632.58397-.0948 1.09497-.0948 2.3361 0 4.3071.6321 5.9131 1.8962 1.679 1.2009 2.5185 2.8758 2.5185 5.0248 0 2.4018-.803 4.298-2.409 5.6885-1.606 1.3905-3.6135 2.0858-6.0226 2.0858Zm24.5278 0c-3.431 0-6.0225-1.0745-7.7745-3.2235-1.679-2.2122-2.5185-5.2777-2.5185-9.1964 0-4.4876 1.2775-8.4379 3.8325-11.85104 2.555-3.4131 6.4605-6.22574 11.7166-8.437939l3.504 6.067729c-3.285 1.45373-5.767 3.12865-7.446 5.02485-1.6061 1.833-2.4091 4.1716-2.4091 7.0158.219-.0632.584-.0948 1.095-.0948 2.3361 0 4.3071.6321 5.9131 1.8962 1.679 1.2009 2.5185 2.8758 2.5185 5.0248 0 2.4018-.803 4.298-2.409 5.6885-1.606 1.3905-3.6135 2.0858-6.0226 2.0858Z"/></svg>
      <p>{{ quote }}</p>
      <svg class="rtnu-stars" xmlns="http://www.w3.org/2000/svg" width="140" height="24" fill="none" viewBox="0 0 140 24"><path fill="#F69400" d="m12.6116 2.48128 2.3006 6.54959 7.1869.08117c.6187.00722.8737.76481.3787 1.11836l-5.7656 4.1289 2.1412 6.6001c.1838.5682-.4856 1.0354-.99.6926l-5.8631-4.0008-5.86312 3.999c-.50437.3446-1.17375-.1244-.99-.6908l2.14125-6.6001-5.76562-4.1289c-.49688-.35535-.24-1.11294.37875-1.12016l7.18687-.07937 2.29877-6.55139c.1987-.56278 1.0275-.56278 1.2244.0018Z"/><path fill="#F69400" d="m41.4115 2.48128 2.3007 6.54959 7.1868.08117c.6188.00722.8738.76481.3788 1.11836l-5.7656 4.1289 2.1412 6.6001c.1838.5682-.4856 1.0354-.99.6926l-5.8631-4.0008-5.8631 3.999c-.5044.3446-1.1738-.1244-.99-.6908l2.1412-6.6001-5.7656-4.1289c-.4969-.35535-.24-1.11294.3787-1.12016l7.1869-.07937 2.2988-6.55139c.1987-.56278 1.0275-.56278 1.2243.0018Z"/><path fill="#F69400" d="m70.2115 2.48128 2.3007 6.54959 7.1868.08117c.6188.00722.8738.76481.3788 1.11836l-5.7656 4.1289 2.1412 6.6001c.1838.5682-.4856 1.0354-.99.6926l-5.8631-4.0008-5.8631 3.999c-.5044.3446-1.1738-.1244-.99-.6908l2.1412-6.6001-5.7656-4.1289c-.4969-.35535-.24-1.11294.3787-1.12016l7.1869-.07937 2.2988-6.55139c.1987-.56278 1.0275-.56278 1.2243.0018Z"/><path fill="#F69400" d="m99.0116 2.48128 2.3004 6.54959 7.187.08117c.619.00722.874.76481.379 1.11836l-5.766 4.1289 2.141 6.6001c.184.5682-.485 1.0354-.99.6926l-5.8627-4.0008-5.8631 3.999c-.5044.3446-1.1737-.1244-.99-.6908l2.1413-6.6001-5.7657-4.1289c-.4968-.35535-.24-1.11294.3788-1.12016l7.1869-.07937 2.2987-6.55139c.1988-.56278 1.0275-.56278 1.2244.0018Z"/><path fill="#F69400" d="m127.812 2.48128 2.3 6.54959 7.187.08117c.619.00722.874.76481.379 1.11836l-5.766 4.1289 2.141 6.6001c.184.5682-.485 1.0354-.99.6926l-5.863-4.0008-5.863 3.999c-.504.3446-1.174-.1244-.99-.6908l2.141-6.6001-5.765-4.1289c-.497-.35535-.24-1.11294.379-1.12016l7.186-.07937 2.299-6.55139c.199-.56278 1.028-.56278 1.225.0018Z"/></svg>

      <cite>
        <p>{{ author }}</p>
        {% if author_title != blank %}
        <span>{{ author_title }}</span>
        {% endif %}
      </cite>
    </blockquote>
  </div>
</section>

{% schema %}
{
  "name": "Callout Quote",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "textarea",
      "id": "quote",
      "label": "Quote"
    },
    {
      "type": "text",
      "id": "author",
      "label": "Author"
    },
    {
      "type": "text",
      "id": "author_title",
      "label": "Author Title",
      "info": "Leave blank to hide"
    }
  ],
  "presets": [
    {
      "name": "Callout Quote"
    }
  ]
}
{% endschema %}