{%- liquid
  assign current_variant = product.selected_or_first_available_variant
  assign heading = product.metafields.sf_cta_block.heading
  assign description = product.metafields.sf_cta_block.description
  assign product_image = product.metafields.sf_cta_block.product_image
  assign item_image_1 = product.metafields.sf_cta_block.item_1_image
  assign item_text_1 = product.metafields.sf_cta_block.item_1_text
  assign item_image_2 = product.metafields.sf_cta_block.item_2_image
  assign item_text_2 = product.metafields.sf_cta_block.item_2_text
  assign item_image_3 = product.metafields.sf_cta_block.item_3_image
  assign item_text_3 = product.metafields.sf_cta_block.item_3_text
  assign item_image_4 = product.metafields.sf_cta_block.item_4_image
  assign item_text_4 = product.metafields.sf_cta_block.item_4_text
  assign item_image_5 = product.metafields.sf_cta_block.item_5_image
  assign item_text_5 = product.metafields.sf_cta_block.item_5_text
  assign item_image_6 = product.metafields.sf_cta_block.item_6_image
  assign item_text_6 = product.metafields.sf_cta_block.item_6_text
  assign item_image_7 = product.metafields.sf_cta_block.item_7_image
  assign item_text_7 = product.metafields.sf_cta_block.item_7_text
  assign sold_out = true
  if current_variant.available
    assign sold_out = false
  endif

  assign stamptedReviewsCount = product.metafields.reviews.rating_count.value | minus: 20
-%}

<section class="rtnu-pdp-benefits">
  <div class="rtnu-wrapper">
    <h2>{{ heading }}</h2>
    {% if description != blank %}
      <p>{{ description }}</p>
    {% endif %}

    <div class="rtnu-pdp-benefits__grid">
      <div class="image">
        {% if product.metafields.sf_cta_block.lifestyle_image != blank %}
          <img
            src="{{ product.metafields.sf_cta_block.lifestyle_image }}"
            alt=""
            width="549"
            height="552"
            loading="lazy"
            class="lifestyle-img"
          >

          <div class="accent">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 300 233"
            >
              <path fill="{{ product.metafields.rtnu.hero_accent_color | default: '#994E0E' }}" d="M50.8201 48.3553c1.0523-.316 2.3297-.3931 3.1138-.9962 1.832-1.411 3.6689-2.6591 6.2659-2.6786.126-.0061.2462-.0472.3466-.1185 2.0733-1.4648 3.3578-3.9576 7.1041-3.2432-.1533-.3241-.3078-.6479-.461-.9712-.6492-.308-1.3194-.5679-2.0048-.7774-5.9634-1.3824-11.9461-2.6662-17.8929-4.1273-1.7464-.4287-3.8106-.9635-5.0046-2.0923-2.5684-2.4314-5.2067-5.0687-6.7928-8.0231-1.3919-2.5889.7511-5.1086 1.8465-7.4991.1134-.1384.2618-.2452.4314-.3106.1695-.0655.3549-.0876.5393-.0642 2.4757.7503 4.9284-.2642 7.5587.9504 2.4004 1.1095 5.2639 1.3196 7.9412 1.7579 10.8872 1.786 21.7895 3.4296 32.6683 5.2874 4.8542.8288 9.673 2.0011 14.4942 3.0913 6.214 1.4026 12.42 2.8498 18.617 4.3416 1.386.3318 2.724.8997 4.084 1.3565.862.2892 1.77.8552 2.582.8119 4.655-.2601 8.51 2.1526 12.555 3.8994 5.591 2.4136 11.135 4.938 16.73 7.3498 2.583 1.1132 5.465 1.4005 7.846 3.1688.838.6222 2.213.7735 3.34.8519 2.495.1749 4.575 1.1515 6.04 3.0234.978 1.2503 1.959 1.8894 3.569 1.7953.726-.0424 1.645.0327 2.234.4034 2.912 1.8313 5.673 3.8862 8.624 5.6511 2.324 1.3896 4.849 2.4704 7.283 3.6922 1.025.514 2.182.8928 3.029 1.5939.971.8024 1.604 2.2073 2.779.4195.074-.1135 1.45.2131 1.615.549 1.87 3.7891 6.236 4.3802 9.35 6.5393 3.065 2.1243 6.421 3.8722 9.645 5.7936.448.2669.827.676 1.299.8617 7.181 2.8154 11.437 8.6979 16.632 13.6042 1.588 1.4916 3.249 2.906 4.977 4.2379 2.073 1.604 2.702 3.091 2.145 5.376-.532 2.179-2.085 3.392-4.395 3.624-.854.086-1.951-.477-2.794-.97-1.342-.784-2.504-1.853-3.85-2.629-2.064-1.191-4.365-.915-5.745.644-.199.223.157.874.256 1.327-1.053-.457-2.499-.656-3.1-1.4-2.929-3.626-7.324-2.517-10.764-4.341-.165.272-.33.544-.495.815.697.566 1.429 1.088 2.191 1.564 3.887 2.128 7.805 4.205 11.705 6.312.781.423 1.636.646.729 1.802-.863 1.102.741 1.572 1.515 2.04 4.015 2.425 8.134 4.701 12.104 7.192 3.616 2.27 7.059 4.789 10.65 7.099.657.424 1.925.756 2.444.469 1.854-1.02 3.209-.141 4.5 1.015 3.16 2.83 6.449 5.571 9.332 8.621 3.233 3.422 6.11 7.124 9.066 10.754.616.789 1.076 1.68 1.353 2.626.602 1.968.027 2.782-2.103 3.3-1.214.295-2.421.622-3.663.823-3.606.581-7.009 1.061-10.879-.769-4.325-2.045-9.103-3.165-13.68-4.703-.996-.307-1.974-.677-2.925-1.11-8.207-4.005-16.383-8.072-24.605-12.048-2.797-1.352-5.708-2.477-8.553-3.735-6.521-2.882-12.323-7.299-19.481-8.867-.942-.206-1.876-.931-2.644-1.586-3.5-2.983-7.281-5.361-11.975-6.181-1.079-.188-2.108-.825-3.63-1.447 1.26 2.049 2.234 3.694 3.288 5.301.254.386.805.923 1.158.912 3.147-.096 5.708 1.94 7.784 3.422 3.109 2.218 7.587 3.166 9.131 7.277.362.964 1.815 1.795 2.93 2.41 4.22 2.323 8.537 4.477 12.756 6.799 4.32 2.378 8.544 4.92 12.858 7.313 3.287 1.823 6.609 3.599 9.981 5.269 6.403 3.168 12.619 6.621 18.455 10.684.556.326 1.04.762 1.418 1.279.267.462.406 1.243.155 1.593-.211.187-.468.319-.747.385-.28.066-.575.063-.859-.008-2.667-1.051-5.282-2.232-7.915-3.366-1.641-.708-3.245-1.537-4.934-2.085-2.555-.83-5.17-1.461-8.363-2.344.721 1.214 1.287 1.885 1.511 2.62.225.735.435 1.776.049 2.248-.367.452-1.5.438-2.317.448-.678.008-1.383-.248-2.442.189.702.592 1.373 1.218 2.011 1.875.295.329.579.937.447 1.23-.136.177-.317.316-.526.403-.21.086-.441.118-.671.092-5.22-2.104-10.899-2.535-15.892-5.775-5.074-3.291-10.827-5.633-16.275-8.406-.522-.311-1.026-.65-1.509-1.017-.482 2.449.999 3.135 2.077 3.823 2.851 1.821 5.761 3.57 8.721 5.223 4.457 2.488 7.156 6.162 7.516 10.595.343 4.246 2.893 7.437 5.274 10.732 2.038 2.82 2.728 4.355 1.547 6.148-1.407 2.139-4.999 3.558-7.572 3.163-1.787-.275-3.596-.319-5.394-.466-.003-.354-.006-.707-.008-1.058-.163.391-.302.793-.416 1.202-.633 2.925-.875 2.992-3.995 2.229-7.62-1.849-14.883-5.053-21.42-9.449-4.764-3.23-10.31-4.207-14.875-7.431 3.235 4.2 7.634 7.043 12.041 9.904 2.725 1.768 5.371 3.66 7.928 5.638 1.219.944 3.03 1.837 2.096 3.82-.109.23.623.973 1.098 1.314.62.445 1.686.587 1.999 1.11.536.898.637 1.99.921 3.001-.93.005-1.961.281-2.774-.028-7.069-2.694-14.094-5.504-21.146-8.237-.698-.271-1.503-.28-2.26-.374-.758-.094-1.756.119-2.242-.258-3.112-2.423-6.244-1.195-9.066-.498-3.004.739-5.473.152-8.141-1.209-6.261-3.196-12.575-6.292-18.849-9.463-4.779-2.416-9.469-5.014-14.315-7.292-4.727-2.224-9.649-4.043-14.391-6.241-2.5784-1.195-4.0581.282-6.0211 1.401-.002-.674-.1495-1.114.0197-1.295 1.4632-1.56.4615-2.466-1.1955-3.268-3.6506-1.765-7.3681-3.421-10.9179-5.359-5.3818-2.94-10.5657-6.11-14.6679-10.709-1.2217-1.37-3.4292-2.292-5.3333-2.84-3.683-1.058-4.1508-1.438-4.428-4.932-.1221-1.41-.468-2.803-1.025-4.128-1.0947-2.623-.9979-5.176-.3855-7.682.1456-.597 1.1517-1.466 1.6435-1.371 2.215.427 3.6376-.693 5.2388-1.516 2.2742-1.166 4.5234-2.372 6.8337-3.48 1.2584-.604 1.5448-1.407.7393-2.571-1.3949-2.018-2.8215-4.018-4.4496-6.334-.6128.237-1.254.405-1.9114.499-1.3252.112-2.0016 1.819-4.0783.406-2.1225-1.444-3.564-2.686-3.7102-5.132-.2421-4.064 1.074-6.134 5.1975-7.125 4.1106-.987 8.1827-1.947 12.754-.952 2.1899.477 4.5985-.478 6.8371-.11 4.9706.818 9.8982 2.053 14.838 3.146.4973.11.9814.577 1.4384.571.6497-.009 1.2687-.304 1.9017-.478-.42-.391-.798-1.028-1.267-1.132-2.7474-.604-4.2604-2.175-5.0146-4.9105 2.3165-.115 4.1839.7775 6.1156 1.4335.615.207 1.382-.06 2.08-.111-.524-.575-.937-1.3966-1.589-1.6839-3.3335-1.5118-6.8853-2.4571-10.4976-2.7938-5.249-.4605-10.509-1.3353-15.7297-2.2998-3.1599-.583-6.247-1.7026-9.382-2.5099-.8777-.2151-1.7779-.2998-2.6702-.2513-5.4312.2622-9.8059-2.4761-11.736-7.4022-1.1301-2.8873-.7206-4.2139 2.1232-5.4396 1.6712-.7191 3.6019-.9772 5.3438-1.5884.7603-.2666 1.3434-.8966 2.006-1.3623-.6051-.5669-1.1137-1.3489-1.8314-1.6661-2.3934-1.0579-3.4501-2.7027-3.1438-4.95.3117-2.2834-.8869-3.6226-3.1138-4.4762-.3798-.0974-.7377-.2717-1.0501-.5113-.7343-.7746-1.8194-1.5799-1.9723-2.4334-.2382-1.3313 1.1539-1.5226 2.3458-1.6394.4713-.0466.9208-.2036 2.0414-.4643-1.1147-.4895-1.6677-.9366-2.143-.9075-2.9038.1776-4.3077-1.3931-4.9826-3.7047-.6289-2.1544-.2145-3.9715 1.9877-5.0855.5152-.2608.8341-.8199 1.243-1.2416l-.0103-.0025Zm96.5589 6.3338c2.326 1.1562 4.627 2.3727 6.991 3.4524 2.372 1.0849 4.771 2.1445 7.224 3.0217 6.481 2.3175 12.394 6.1872 19.351 7.2337.982.148 1.97.7091 2.868 1.2199 2.901 1.649 5.765 3.3186 8.836 4.7106 4.512 2.0453 8.841 4.4839 13.272 6.7102.541.2713 1.228.263 2.144.4431-.353-.5027-.402-.6419-.502-.7029-9.972-6.1004-19.869-12.2299-30.875-16.6634-6.119-2.4646-12.023-5.5036-18.301-7.691-3.644-1.2702-7.242-2.1715-11.012-1.7284-3.284-3.0176-8.403-4.4342-12.48-2.9217 4.694.8338 8.315 3.0048 12.483 2.9161l.001-.0003Zm-80.6109-4.9847c2.3564 1.041 4.3245 1.9985 6.3606 2.7744 1.0938.4246 2.2462.664 3.4066.7077 6.0191.1342 11.634 2.1602 17.3307 4.0288 2.6754.8769 5.6333 1.4803 8.351 1.3788 2.688-.065 5.386.3325 7.972 1.1747 3.611 1.0932 7.203 2.2577 10.803 3.3923 3.358 1.0587 6.732 2.0689 10.071 3.1879 6.054 2.0283 12.034 4.336 18.156 6.0888 2.607.7523 5.149 1.7309 7.596 2.9237 5.175 2.4881 10.442 4.797 15.714 7.0805 1.442.625 3.032 1.4847 4.938.4595-2.371-2.2571-5.051-3.4008-7.809-4.5242-3.224-1.3136-6.375-2.8171-9.517-4.3206-1.972-.944-3.794-2.2215-5.812-3.0285-3.575-1.4321-7.627-1.8014-10.389-4.9521-.444-.5064-1.415-.6104-2.1-.9762-1.353-.7212-2.668-1.5096-4.014-2.243-2.904-1.582-5.72-3.3787-8.757-4.6519-2.981-1.2499-6.194-1.9383-9.293-2.9137-3.11-.9778-6.17-2.1746-9.318-2.9549-2.353-.5841-4.825-.5584-7.224-.9737-4.9425-.8556-9.8641-1.9062-14.8125-2.6874-1.1815-.1865-2.4269.3994-3.6591.5697-.9547.1322-2.0507.4969-2.8804.1913-3.1324-1.1546-6.0047-1.7373-7.9917 1.2128-2.52-2.9453-2.9065-2.9931-7.1223-.9443l.0001-.0004ZM181.996 169.148c.136-.23.273-.459.41-.689-.318-.352-.659-.683-1.022-.991-2.565-1.931-5.498-3.566-7.65-5.819-4.436-4.646-10.455-6.542-15.947-9.369-1.1-.565-2.324-.801-2.937.463-.567 1.168.138 2.076 1.282 2.673 1.949 1.016 4.013 1.807 5.103 3.888.269.515 1.296.745 1.978 1.1 1.947 1.014 3.974 1.911 5.828 3.061 4.054 2.461 8.414 4.373 12.955 5.684v-.001Zm68.525-34.541c-.417-2.337-.389-2.37-1.488-3.219-2.222-1.717-4.532-3.34-6.7-5.113-1.159-.947-1.908-2.477-3.176-3.126-2.556-1.31-5.34-2.197-8.053-3.268.027.277-.043.61.086.704 1.778 1.308 3.082 2.691 2.096 4.866-.178.392.128 1.395.48 1.56 2.193 1.025 4.455 2.437 6.708 2.638 1.719.153 2.909.507 4.07 1.544 1.718 1.532 3.559 2.823 5.977 3.414Zm-97.489-26.991c.117-.214.233-.427.35-.639-.457-.518-.81-1.265-1.385-1.516-4.995-2.182-10.013-4.317-15.074-6.336-.596-.238-2.049.1497-2.145.5234-.186.7276.023 1.9266.591 2.4276.877.773 1.983 1.243 3.138 1.336 4.143.029 7.721 1.968 11.479 3.321.994.355 2.029.591 3.046.882v.001Zm3.492-13.9148c-.043.2834-.086.5665-.128.8491 1.46.6608 2.897 1.3836 4.388 1.9668 1.699.6651 3.435 1.2485 5.178 1.7899 1.62.5023 3.264.9289 4.909 1.3387 1.538.3823 2.945 1.9133 5.17 1.1533-5.133-4.5038-11.311-5.1875-16.807-7.3895-.747-.2996-1.8.1749-2.71.2909v.0008Zm1.385 15.0348c1.358 2.389 3.256 3.744 5.012 3.565.235-.023.46-.096.659-.214s.367-.278.493-.47c.129-.313-.122-1.1-.4-1.216-1.819-.757-3.509-2.226-5.764-1.666v.001Zm-32.616-59.5956c1.993-.168 3.222-.0855 4.219-.4535.372-.137.562-1.5504.213-1.9961-.854-1.0917-2.126-.8878-3.014-.1602-.525.4301-.693 1.2214-1.418 2.609v.0008Zm-12.133-6.2955c.006.279.012.558.017.8368 2.484.3092 4.968.618 7.896.9816-2.65-3.8511-5.419-1.3378-7.913-1.8191v.0007Zm-4.376 67.6831c-.061-1.338.008-1.884-.102-1.922-.77-.278-1.576-.454-2.37-.664-.059.389-.309 1.008-.145 1.128.84.542 1.714 1.029 2.617 1.457v.001Zm3.862-8.407c.204-.647.329-1.044.454-1.441-.648-.098-1.326-.317-1.931-.238-.272.036-.396.67-.588 1.033.631.197 1.263.394 2.065.647v-.001Zm2.88 15.96c.559 1.857 1.607 2.501 3.353 1.405l-3.353-1.405Zm-54.1088 12.438c-.9075 2.515-.9076 2.515.8148 3.901-.2757-1.323-.4681-2.242-.8145-3.902l-.0003.001ZM225.5 122.176l-.157.686c1.558.777 1.558.777 3.768.39l-3.611-1.076ZM99.3673 136.918c-.6174-.09-1.2391-.132-1.8592-.124-.1201.01-.1458.552-.2144.849l1.9448.373c.0351-.296.0715-.591.1288-1.098Zm89.9327 4.883c-.736-2.1-.736-2.1-3.292-1.743l3.292 1.743Zm80.401-1.924c.291-.175.581-.35.871-.525-.673-.682-1.347-1.365-2.022-2.048l-.571.425c.575.716 1.149 1.432 1.724 2.149l-.002-.001Zm-171.0605-4.486c.0659-.335.1318-.67.1979-1.005-.8668-.188-1.7332-.377-2.5992-.565-.0506.267-.1.535-.1481.803l2.5494.767Zm86.0585 60.995c-.112.266-.223.533-.334.799l2.883 1.052c.083-.217.167-.435.25-.652l-2.799-1.199Zm88.597-53.482c-.107-.458-.078-.842-.275-1.034-.206-.202-.629-.219-.957-.317-.024.379.023.763.138 1.132.077.148.609.132 1.097.22l-.003-.001Zm-63.336 31.094c.083.543.027.919.207 1.138.18.22.601.298.916.438.005-.315.131-.685-.018-.929-.148-.243-.571-.352-1.105-.647Zm-93.899-71.236c-.112.235-.224.469-.335.703.63.166 1.26.331 1.89.496.028-.191.126-.527.075-.553-.53-.244-1.082-.437-1.63-.646ZM67.6038 127.73c-.0174.27-.0366.553-.0546.835.2334.004.6012.095.6728-.005.1242-.253.202-.528.2299-.811l-.8481-.019Zm36.2272-36.4364c.083-.2633.231-.5949.188-.6218-.322-.1676-.655-.313-.996-.4349l-.25.7356 1.058.3211Zm8.128 25.0484c-.091.17-.284.357-.244.508.048.177.298.323.461.483.152-.198.271-.419.354-.655.012-.061-.369-.222-.571-.335v-.001Zm26.989-28.02-.647-.1139c-.018.1992-.095.5545-.05.5713.28.0824.567.1385.855.1677-.052-.2084-.105-.4161-.158-.6251Zm66.826 8.3251c-.021-.212.03-.4599-.07-.5389-.195-.0941-.405-.15-.618-.1641.017.1712-.035.4107.066.4978.193.1059.404.1754.62.2048l.002.0004ZM133.683 48.228c-.04.1765-.078.3447-.117.5135l.675.1665c.034-.1697.144-.4554.09-.4884-.207-.0939-.425-.1584-.648-.1916Zm72.271 162.286c-1.282-.52-2.719-.863-3.795-1.617-.821-.647-1.397-1.544-1.631-2.537-.143-.613.415-1.765.914-1.828.819-.102 2.254.264 2.702.826 1.091 1.375 1.766 2.974 2.608 4.483-.266.224-.532.448-.798.673Z"/><path fill="#416FB6" d="M249.861 120.185c-4.093-.865-6.73-3.751-9.878-5.927 3.627 1.352 6.98 3.368 9.875 5.937l.003-.01Zm-146.442 53.947 5.965 1.662c-2.272.576-4.432.7-5.965-1.662Zm125.36-.57-3.25-1.866c.108-.172.216-.346.325-.516 1.101.532 2.201 1.063 3.301 1.596-.126.262-.252.524-.376.786Zm-32.64 30.314c.183-.468.3-.945.377-.932.564.101 1.117.26 1.652.474.039.016-.073.701-.155.7-.627-.045-1.253-.126-1.874-.242Zm-1.648-9.471c-.187.446-.214.839-.451.969-.196.108-.641-.096-.976-.162.087-.286.078-.668.293-.83.176-.131.622 0 1.134.023ZM87.5282 167.429c.028.25.048.43.0687.607-.3572-.068-.7092-.165-1.0522-.291-.0917-.041-.058-.343-.0838-.525.362.069.723.14 1.0673.209ZM123.714 64.5271c-2.252-.9657-4.504-1.9309-6.757-2.8954.093-.2169.185-.4336.278-.6501 2.606.0848 4.519 1.9796 6.906 2.6372-.142.3029-.284.6056-.427.9083Z"/>
            </svg>
            <img
              src="{{ product_image }}"
              alt=""
              loading="lazy"
              width="150"
              height="247"
            >
          </div>
        {% else %}
          <img
            src="{{ product_image }}"
            alt=""
            loading="lazy"
            class="product-img"
          >
        {% endif %}
      </div>
      <div class="text">
        <ul>
          {% if item_text_1 != blank %}
            <li>
              <p>{{ item_text_1 }}</p>
            </li>
          {% endif %}
          {% if item_text_2 != blank %}
            <li>
              <p>{{ item_text_2 }}</p>
            </li>
          {% endif %}
          {% if item_text_3 != blank %}
            <li>
              <p>{{ item_text_3 }}</p>
            </li>
          {% endif %}
          {% if item_text_4 != blank %}
            <li>
              <p>{{ item_text_4 }}</p>
            </li>
          {% endif %}
          {% if item_text_5 != blank %}
            <li>
              <p>{{ item_text_5 }}</p>
            </li>
          {% endif %}
          {% if item_text_6 != blank %}
            <li>
              <p>{{ item_text_6 }}</p>
            </li>
          {% endif %}
          {% if item_text_7 != blank %}
            <li>
              <p>{{ item_text_7 }}</p>
            </li>
          {% endif %}
        </ul>

        {% if customer.b2b? %}
          <div class="GrowAOV-Form__item">
            <a
              href="#rtnu-product"
              class="wayfx-btn"
              >Buy Now</a
            >
            <div class="rtnu-pdp-benefits__reviews">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="103"
                height="16"
                fill="none"
                viewBox="0 0 103 16"
              >
                <path fill="#FFA221" d="m9.19165.34375 1.86245 5.31743 5.8192.06497c.5008.00562.7081.62095.3065.90893L12.511 9.98596l1.7342 5.35744c.149.461-.3932.8408-.802.5616l-4.74712-3.2466-4.74777 3.246c-.40812.2792-.95098-.1012-.80199-.5617L4.8805 9.98534.211761 6.63446c-.40164-.28799-.1943424-.90331.306412-.90894l5.819247-.06497L8.19986.343125c.16066-.457279.83178-.457279.99179.000625ZM30.3408.343506l1.8624 5.317434 5.8192.06496c.5008.00563.7081.62095.3065.90894l-4.6688 3.35088 1.7342 5.35738c.149.4611-.3932.8409-.802.5616l-4.7471-3.2465-4.7478 3.2459c-.4081.2792-.951-.1012-.802-.5616l1.7342-5.3574-4.6687-3.35089c-.4017-.28798-.1944-.90331.3064-.90893l5.8192-.06497L29.349.342881c.1606-.457279.8318-.457279.9918.000625Zm21.1634 0 1.8624 5.317434 5.8192.06496c.5008.00563.7081.62095.3065.90894l-4.6688 3.35088 1.7342 5.35738c.149.4611-.3932.8409-.802.5616l-4.7471-3.2465-4.7478 3.2459c-.4081.2792-.951-.1012-.802-.5616l1.7342-5.3574-4.6687-3.35089c-.4017-.28798-.1944-.90331.3064-.90893l5.8192-.06497L50.5124.342881c.1606-.457279.8317-.457279.9918.000625Zm21.1633 0L74.53 5.66094l5.8192.06496c.5008.00563.7081.62095.3064.90894l-4.6687 3.35088 1.7342 5.35738c.149.4611-.3932.8409-.802.5616l-4.7471-3.2465-4.7478 3.2459c-.4081.2792-.951-.1012-.802-.5616l1.7342-5.3574-4.6687-3.35089c-.4017-.28798-.1944-.90331.3064-.90893l5.8192-.06497L71.6758.342881c.1606-.457279.8317-.457279.9917.000625Zm21.1492 0 1.8624 5.317434 5.8189.06496c.501.00563.708.62095.307.90894l-4.669 3.35088 1.7342 5.35738c.149.4611-.3932.8409-.802.5616l-4.7471-3.2465-4.7478 3.2459c-.4081.2792-.951-.1012-.802-.5616l1.7342-5.3574-4.6687-3.35089c-.4017-.28798-.1944-.90331.3064-.90893l5.8192-.06497L92.8249.342881c.1606-.457279.8317-.457279.9918.000625Z"/>
              </svg>
              <span>{{ stamptedReviewsCount }}+ 5-Star Reviews</span>
            </div>
          </div>
        {% else %}
          {% unless sold_out %}
            {% unless product.tags contains 'boost:oos' %}
              <form
                action="/cart/add"
                method="post"
                enctype="multipart/form-data"
                class="GrowAOV-Form"
              >
                <input type="hidden" name="id" value="{{ current_variant.id }}">
                <input
                  type="hidden"
                  name="selling_plan"
                  value="{{ current_variant.selling_plan_allocations[0].selling_plan.id }}"
                >

                <div class="GrowAOV-Form__item">
                  <button
                    type="submit"
                    class="wayfx-btn"
                    role="button"
                    aria-label="Subscribe"
                  >
                    Subscribe Now
                  </button>

                  <div class="rtnu-pdp-benefits__reviews">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="103"
                      height="16"
                      fill="none"
                      viewBox="0 0 103 16"
                    >
                      <path fill="#FFA221" d="m9.19165.34375 1.86245 5.31743 5.8192.06497c.5008.00562.7081.62095.3065.90893L12.511 9.98596l1.7342 5.35744c.149.461-.3932.8408-.802.5616l-4.74712-3.2466-4.74777 3.246c-.40812.2792-.95098-.1012-.80199-.5617L4.8805 9.98534.211761 6.63446c-.40164-.28799-.1943424-.90331.306412-.90894l5.819247-.06497L8.19986.343125c.16066-.457279.83178-.457279.99179.000625ZM30.3408.343506l1.8624 5.317434 5.8192.06496c.5008.00563.7081.62095.3065.90894l-4.6688 3.35088 1.7342 5.35738c.149.4611-.3932.8409-.802.5616l-4.7471-3.2465-4.7478 3.2459c-.4081.2792-.951-.1012-.802-.5616l1.7342-5.3574-4.6687-3.35089c-.4017-.28798-.1944-.90331.3064-.90893l5.8192-.06497L29.349.342881c.1606-.457279.8318-.457279.9918.000625Zm21.1634 0 1.8624 5.317434 5.8192.06496c.5008.00563.7081.62095.3065.90894l-4.6688 3.35088 1.7342 5.35738c.149.4611-.3932.8409-.802.5616l-4.7471-3.2465-4.7478 3.2459c-.4081.2792-.951-.1012-.802-.5616l1.7342-5.3574-4.6687-3.35089c-.4017-.28798-.1944-.90331.3064-.90893l5.8192-.06497L50.5124.342881c.1606-.457279.8317-.457279.9918.000625Zm21.1633 0L74.53 5.66094l5.8192.06496c.5008.00563.7081.62095.3064.90894l-4.6687 3.35088 1.7342 5.35738c.149.4611-.3932.8409-.802.5616l-4.7471-3.2465-4.7478 3.2459c-.4081.2792-.951-.1012-.802-.5616l1.7342-5.3574-4.6687-3.35089c-.4017-.28798-.1944-.90331.3064-.90893l5.8192-.06497L71.6758.342881c.1606-.457279.8317-.457279.9917.000625Zm21.1492 0 1.8624 5.317434 5.8189.06496c.501.00563.708.62095.307.90894l-4.669 3.35088 1.7342 5.35738c.149.4611-.3932.8409-.802.5616l-4.7471-3.2465-4.7478 3.2459c-.4081.2792-.951-.1012-.802-.5616l1.7342-5.3574-4.6687-3.35089c-.4017-.28798-.1944-.90331.3064-.90893l5.8192-.06497L92.8249.342881c.1606-.457279.8317-.457279.9918.000625Z"/>
                    </svg>
                    <span>{{ stamptedReviewsCount }}+ 5-Star Reviews</span>
                  </div>
                </div>
              </form>
            {% endunless %}
          {% endunless %}
        {% endif %}
      </div>
    </div>
  </div>
</section>

{%- if item_text_1 == blank -%}
  <style>
    .rtnu-pdp-benefits {
      display: none;
    }
  </style>
{%- endif -%}

{% schema %}
{
  "name": "Benefits",
  "settings": [],
  "presets": [
    {
      "name": "Benefits",
      "category": "General"
    }
  ]
}
{% endschema %}
