{% liquid
  assign sectionHeading = product.metafields.sf_isc.section_heading
  assign sectionDesc = product.metafields.sf_isc.section_description
  assign item1Heading = product.metafields.sf_isc.item_1_heading
  assign item1Desc = product.metafields.sf_isc.item_1_description
  assign item2Heading = product.metafields.sf_isc.item_2_heading
  assign item2Desc = product.metafields.sf_isc.item_2_description
  assign item3Heading = product.metafields.sf_isc.item_3_heading
  assign item3Desc = product.metafields.sf_isc.item_3_description
%}
<section class="rtnu-pdp-certified">
  <div class="rtnu-wrapper">
    <img class="badges" src="{{ 'hs-informed-sport-certified-badges.min.png' | asset_img_url: '722x' }}" alt="" aria-hidden="true" width="361" height="192" loading="lazy">
    <h2>
      {% if sectionHeading == blank %}
      INFORMED SPORT CERTIFIED
      {% else %}
      {{ sectionHeading }}
      {% endif %}
    </h2>
    {% if sectionDesc == blank %}
    <p>Our products meet the highest quality standards possible for vitamins and supplements. Each batch of {{ product.title }} is tested by Informed Sport, a globally recognized substance testing certification program considered to be the gold standard for quality assurance of sports nutrition around the world.</p>
    {% else %}
    {{ sectionDesc }}
    {% endif %}

    <div class="rtnu-grid">
      <div class="rtnu-grid__item">
        <div class="rtnu-grid__item-icon"><svg xmlns="http://www.w3.org/2000/svg" width="57" height="49" fill="none" viewBox="0 0 57 49"><g fill="#F7ECDE" clip-path="url(#sport)"><path d="M18.0283 8.16947h-.0075l-7.8658-.0412c-.3854-.00098-.75459-.15383-1.02638-.42492-.2718-.27109-.42393-.63821-.42294-1.02061.00099-.38239.15502-.74873.42822-1.01843.27319-.2697.64317-.42066 1.0285-.41968h.0075l7.8658.0412c.3854.00098.7546.15383 1.0264.42492.2718.27109.4239.63821.4229 1.0206-.001.3824-.155.74874-.4282 1.01844-.2732.2697-.6432.42066-1.0285.41968Zm-1.5514 6.09673H1.45302c-.38536 0-.754947-.1519-1.027441-.4223C.153084 13.5735 0 13.2068 0 12.8244c0-.3824.153084-.7491.425579-1.0195.272494-.2704.642081-.4223 1.027441-.4223H16.4769c.3853 0 .7549.1519 1.0274.4223.2725.2704.4256.6371.4256 1.0195 0 .3824-.1531.7491-.4256 1.0195-.2725.2704-.6421.4223-1.0274.4223Zm1.5514 6.0869h-7.8654c-.38541 0-.75499-.1519-1.02749-.4223-.27249-.2704-.42558-.6371-.42558-1.0195 0-.3824.15309-.7491.42558-1.0195.2725-.2704.64208-.4223 1.02749-.4223h7.8658c.3854 0 .7549.1519 1.0274.4223.2725.2704.4256.6371.4256 1.0195 0 .3824-.1531.7491-.4256 1.0195-.2725.2704-.642.4223-1.0274.4223h-.0004Zm32.0611-9.2515c-3.1605-.0136-5.5933-2.50094-5.5663-5.69107C44.548 2.46964 47.102.00412555 50.1276.00000607 53.2624-.00452536 55.7562 2.52854 55.7243 5.68489c-.0304 3.01134-2.5466 5.43031-5.6349 5.41671ZM4.29264 44.3886c-1.33512 1.6503-.41224 4.0998 1.6797 4.5455 1.19355.2542 2.05374-.255 2.8446-1.0455C15.1233 41.5874 21.4324 35.2887 27.744 28.9925l-1.7793-1.766c-.0291-.0285-.0644-.0606-.1075-.0981-.4094-.3514-1.3235-1.2935-1.5128-2.8103-6.3953 6.3852-12.7904 12.7704-19.18534 19.1556-.29683.2983-.60321.5899-.86642.9149Z"/><path d="M54.7163 21.6466c-.9823-.0968-1.9894.0177-2.9829.0783-1.6568.1013-3.3116.2348-5.0524.3609.0789-2.0326.1487-3.9453.2296-5.8575.0515-1.2206-.2906-2.3275-1.086-3.2445-.7813-.8985-1.6415-1.7302-2.476-2.5821-2.521-2.57635-5.0447-5.1502-7.571-7.72158-1.3621-1.38621-2.9272-1.53245-4.3051-.31061-2.3844 2.11467-4.7423 4.2568-7.0738 6.42639-1.2711 1.18188-1.2907 2.8552-.1332 4.054 1.142 1.1835 2.7503 1.2259 4.0419.0824 1.1105-.9825 2.2003-1.9889 3.2992-2.98294.5712-.51617 1.1462-1.02781 1.5667-1.40475l3.6741 3.39689c-.2586.2167-.4932.3852-.6945.5862-1.9407 1.9365-3.8811 3.8735-5.8213 5.811l.0096.0029-2.0957 2.0795-.2076.206c-2.8599 2.8902-1.2305 4.5936-.8245 4.9433.0748.0639.1474.1298.2168.199 0 0 3.5985 3.5358 4.4749 4.44l5.4915 5.6643c-1.7556.1647-3.3415.311-4.9261.4667-2.1862.2142-4.3769.3918-6.5548.6711-1.36.1742-2.1588 1.1658-2.2555 2.5462-.093 1.3524.6559 2.5644 1.9304 2.8944.6024.1557 1.2779.1236 1.9097.0638 5.3256-.4943 10.6478-1.0249 15.9725-1.5242 1.306-.1236 2.307-.6496 2.7744-1.9094.4675-1.2597.0685-2.3069-.8622-3.2358-1.6735-1.6734-3.3117-3.3813-4.9644-5.0752-1.4784-1.5156-2.9559-3.0315-4.4678-4.5825l4.8572-4.4342c0 1.1266-.0291 2.1833.0062 3.2358.0648 1.9362 1.2941 3.125 3.1967 3.0035 3.5221-.2253 7.0413-.4943 10.5589-.7864 1.431-.1182 2.4145-1.2873 2.4324-2.76.0132-1.448-.9009-2.6641-2.2879-2.8009Z"/></g><defs><clipPath id="sport"><path fill="#fff" d="M0 0h57v49H0z"/></clipPath></defs></svg></div>
        <h3>
          {% if item1Heading == blank %}
          Rigorous Sport Testing
          {% else %}
          {{ item1Heading }}
          {% endif %}
        </h3>
        <p>{% if item1Desc == blank %}{{ product.title }} has been tested against prohibited substance lists from WADA, NHL, MLS, PGA/LPGA, and NCAA. Testing includes over 200+ prohibited substances in sports.{% else %}{{ item1Desc }}{% endif %}</p>
      </div>
      <div class="rtnu-grid__item">
        <div class="rtnu-grid__item-icon"><svg xmlns="http://www.w3.org/2000/svg" width="29" height="53" fill="none" viewBox="0 0 29 53"><g clip-path="url(#testing)"><path fill="#F7ECDE" d="M20.3228 24.622c-3.7589-.0388-7.8501-1.2508-11.64742-1.8815V7.38468H20.3228V24.622Zm-3.8155 12.3543c-.4461.0011-.8825-.1261-1.2539-.3653-.3713-.2392-.6609-.5797-.832-.9784-.1712-.3987-.2161-.8376-.1292-1.261.0869-.4234.3017-.8124.6173-1.1175.3156-.3051.7177-.5127 1.1553-.5965.4376-.0837.8911-.0399 1.3029.1261.4119.1659.7635.4464 1.0104.806.2469.3595.378.7819.3765 1.2136-.0014.5762-.2387 1.1284-.6599 1.5356-.4212.4073-.992.6365-1.5874.6374Zm-2.6289 7.6303c-.4456 0-.8811-.1279-1.2516-.3675-.3705-.2395-.6592-.58-.8297-.9783-.1705-.3984-.2152-.8367-.1282-1.2596.0869-.4229.3015-.8114.6165-1.1162.3151-.3049.7165-.5126 1.1535-.5967.437-.0841.89-.0409 1.3016.1241.4117.165.7635.4444 1.011.8029.2476.3585.3797.78.3797 1.2112-.0005.5781-.238 1.1323-.6604 1.541-.4223.4088-.9951.6386-1.5924.6391Zm-3.3792-15.8665c-.0007-.4315.1309-.8536.3782-1.2127.2474-.3591.5993-.639 1.0112-.8044.4119-.1654.8653-.2088 1.3027-.1246.4374.0841.8391.292 1.1543.5973.3152.3053.5297.6942.6163 1.1175.0866.4234.0414.8621-.1298 1.2605-.1713.3985-.4608.7388-.8321.9779-.3713.2391-.8075.3661-1.2535.3651-.5973-.0005-1.1701-.2303-1.5924-.6391-.4224-.4087-.6599-.9629-.6604-1.541l.0055.0035ZM25.1826 0H3.82288C2.81093 0 1.84043.389011 1.12487 1.08146.40932 1.7739.00732422 2.71307.00732422 3.69234c0 .97927.40199578 1.91843 1.11754578 2.61088.71556.69244 1.68606 1.08146 2.69801 1.08146H5.6777V44.4564c0 2.2659.93017 4.439 2.58587 6.0412C9.91928 52.0999 12.1649 53 14.5064 53c2.3415 0 4.5871-.9001 6.2429-2.5024 1.6557-1.6022 2.5858-3.7753 2.5858-6.0412V7.38468h1.8548c1.012 0 1.9825-.38902 2.698-1.08146.7156-.69245 1.1176-1.63161 1.1176-2.61088 0-.97927-.402-1.91844-1.1176-2.61088C27.1724.389011 26.2019 0 25.1899 0h-.0073Z"/></g><defs><clipPath id="testing"><path fill="#fff" d="M0 0h29v53H0z"/></clipPath></defs></svg></div>
        <h3>{% if item2Heading == blank %}Uncompromising Quality{% else %} {{ item2Heading }}{% endif %}</h3>
        <p>{% if item2Desc == blank %}Informed Sport tests each and every batch of {{ product.title }}. There are no composite tests. They are always tested individually to ensure this standard of excellence.{% else %}{{ item2Desc }}{% endif %}</p>
      </div>
      <div class="rtnu-grid__item">
        <div class="rtnu-grid__item-icon"><svg xmlns="http://www.w3.org/2000/svg" width="49" height="54" fill="none" viewBox="0 0 49 54"><g fill="#F7ECDE" clip-path="url(#global)"><path d="M24.5 21.6001c-1.0722 0-2.1203.3167-3.0118.9101-.8915.5933-1.5864 1.4367-1.9967 2.4234-.4103.9867-.5176 2.0725-.3085 3.12.2092 1.0475.7255 2.0097 1.4837 2.7649.7581.7552 1.7241 1.2695 2.7757 1.4778 1.0516.2084 2.1416.1015 3.1322-.3072.9906-.4088 1.8373-1.1009 2.4329-1.9889.5957-.888.9137-1.9321.9137-3.0001 0-1.4322-.5712-2.8057-1.5878-3.8184-1.0167-1.0127-2.3956-1.5816-3.8334-1.5816Z"/><path d="M45.2269 38.9197c-1.0843 1.8756-3.7171 2.9106-7.409 2.9106-.5999 0-1.2179-.0288-1.8522-.081.7461-2.3553 1.2901-4.7693 1.6264-7.2162 1.9609-1.5143 3.7895-3.1913 5.4663-5.013l.0199.027c2.6293 3.78 3.4117 7.1892 2.1486 9.3708v.0018Zm-10.6074-6.0984c-3.1462 2.3069-6.5402 4.2581-10.1195 5.8176-3.5793-1.5595-6.9733-3.5107-10.1195-5.8176-.4313-3.8689-.4313-7.7735 0-11.6424 3.1462-2.307 6.5402-4.2582 10.1195-5.8176 3.5793 1.5594 6.9733 3.5106 10.1195 5.8176.4313 3.8689.4313 7.7735 0 11.6424Zm-1.8378 8.4708c-1.4055-.2837-2.7933-.6485-4.1562-1.0926.9023-.456 1.7992-.9396 2.6907-1.4508.8915-.5112 1.7613-1.0434 2.6094-1.5966-.2981 1.4005-.677 2.7828-1.1349 4.14h-.009Zm-1.2107 3.0078c-1.9661 4.1562-4.5448 6.5394-7.0728 6.5394-2.5281 0-5.1067-2.3832-7.0728-6.5394-.0056-.0105-.0104-.0213-.0145-.0324 2.4204-.5356 4.7912-1.2732 7.0873-2.205 2.2961.9318 4.6669 1.6694 7.0872 2.205-.004.0111-.0089.0219-.0144.0324Zm-16.4912-7.1478c.8433.5508 1.7131 1.083 2.6094 1.5966.8963.5136 1.7932.9972 2.6907 1.4508-1.363.4441-2.7507.8089-4.1562 1.0926-.4578-1.3572-.8367-2.7395-1.1348-4.14h-.0091Zm-3.6809-17.685c-1.9578 1.5147-3.7834 3.1917-5.45732 5.013l-.0199-.027c-2.62925-3.78-3.41169-7.1892-2.14856-9.3708 1.08423-1.8756 3.7171-2.9106 7.40888-2.9106.6 0 1.218.0288 1.8523.081-.7461 2.3552-1.2902 4.7693-1.6264 7.2162l-.009-.0018Zm-.4355 10.5804c-1.06955-.9561-2.082-1.9736-3.03225-3.0474.95025-1.0738 1.9627-2.0914 3.03225-3.0474-.0555 1.0044-.0838 2.0202-.085 3.0474-.0012 1.0272.0271 2.043.085 3.0474Zm.2114 11.7828c-3.68639 0-6.32468-1.035-7.40892-2.9106-1.26493-2.1816-.48067-5.5962 2.14859-9.3708l.01988-.027c1.67456 1.8207 3.50077 3.4971 5.45905 5.0112.3363 2.4469.8803 4.8609 1.6264 7.2162-.6343.0522-1.2523.081-1.8522.081h.0072Zm5.0399-29.124c1.4055.2842 2.7932.6497 4.1562 1.0944-.9023.456-1.7992.9396-2.6907 1.4508-.8915.5112-1.7613 1.0434-2.6094 1.5966.2984-1.4005.6773-2.7828 1.1348-4.14l.0091-.0018Zm1.2107-3.00603c1.9661-4.1562 4.5447-6.53939 7.0728-6.53939 2.528 0 5.1067 2.38319 7.0728 6.53939.0055.01045.0104.02127.0144.03239-2.4203.53564-4.7911 1.27324-7.0872 2.20504-2.2961-.9318-4.6669-1.6694-7.0873-2.20504.0041-.01112.0089-.02194.0145-.03239Zm16.4911 7.14783c-.8433-.5508-1.713-1.083-2.6093-1.5966-.8963-.5136-1.7932-.9972-2.6907-1.4508 1.3629-.4447 2.7506-.8102 4.1562-1.0944.4575 1.3572.8364 2.7395 1.1348 4.14l.009.0018Zm4.1165 7.1046c1.0695.956 2.082 1.9736 3.0322 3.0474-.9502 1.0738-1.9627 2.0913-3.0322 3.0474.0554-1.0044.0837-2.0202.0849-3.0474.0012-1.0272-.0271-2.043-.0849-3.0474Zm-.2114-11.7828c3.6863 0 6.3246 1.0332 7.4089 2.9106 1.2649 2.1816.4806 5.5962-2.1486 9.3708l-.0199.027c-1.6746-1.8208-3.5008-3.4972-5.4591-5.0112-.3362-2.4469-.8803-4.861-1.6263-7.2162.6342-.0522 1.2523-.081 1.8522-.081h-.0072Zm7.3221 14.8302c.1807-.2484.3614-.4968.5422-.747 3.4081-4.8924 4.2212-9.4212 2.2895-12.753-1.6769-2.8962-5.282-4.50003-10.1502-4.50003-1.0032.00282-2.0053.06292-3.0015.18-.1229-.2844-.2494-.56521-.3777-.83881-2.5497-5.3856-6.0807-8.3520022-9.9388-8.3520022-3.858 0-7.3944 2.9664022-9.9388 8.3520022-.1283.2736-.2548.55441-.3776.83881-.9963-.11708-1.9984-.17718-3.0016-.18-4.86815 0-8.47321 1.59483-10.15015 4.50003-1.931737 3.3318-1.118578 7.8606 2.28952 12.753.18071.2502.36141.4986.54212.747-.18071.2484-.36141.4968-.54212.747-3.408098 4.8924-4.221257 9.4212-2.28952 12.753 1.67694 2.8962 5.282 4.5 10.15015 4.5 1.0026-.0028 2.0041-.0629 2.9997-.18.1247.2844.2512.5652.3795.8388 2.5498 5.3856 6.0808 8.352 9.9388 8.352 3.8581 0 7.3945-2.9664 9.9388-8.352.1283-.2736.2548-.5544.3795-.8388.9956.1171 1.9971.1772 2.9997.18 4.8682 0 8.4733-1.5948 10.1502-4.5 1.9317-3.3318 1.1186-7.8606-2.2895-12.753-.1808-.2502-.3615-.4986-.5422-.747Z"/></g><defs><clipPath id="global"><path fill="#fff" d="M0 0h49v54H0z"/></clipPath></defs></svg></div>
        <h3>{% if item3Heading == blank %}Globally Recognized{% else %} {{ item3Heading }}{% endif %}</h3>
        <p>{% if item2Desc == blank %}Informed Sport is recognized by sporting organizations, antidoping agencies, athletes, and supplement users worldwide.{% else %}{{ item3Desc }}{% endif %}</p>
      </div>
    </div>

    <div class="rtnu-pdp-certified__cta">
      <a href="https://heartandsoil.co/announcing-our-informed-sport-certification/" class="rtnu-btn">Learn More</a>
    </div>
  </div>

  <img class="rtnu-pdp-certified__bg" src="{{ 'hs-boxer.min.jpg' | asset_img_url: '1300x' }}" alt="" aria-hidden="true" loading="lazy" width="650" height="545">
</section>


{% schema %}
{
  "name": "Informed Sport Certified"
}
{% endschema %}
