{% liquid
  assign testimonial_1_name = product.metafields.sf_testimonials.testimonial_1_name
  assign testimonial_1_text = product.metafields.sf_testimonials.testimonial_1_message
  assign testimonial_2_name = product.metafields.sf_testimonials.testimonial_2_name
  assign testimonial_2_text = product.metafields.sf_testimonials.testimonial_2_message
  assign testimonial_3_name = product.metafields.sf_testimonials.testimonial_3_name
  assign testimonial_3_text = product.metafields.sf_testimonials.testimonial_3_message
  assign testimonial_4_name = product.metafields.sf_testimonials.testimonial_4_name
  assign testimonial_4_text = product.metafields.sf_testimonials.testimonial_4_message
%}

<section class="rtnu-testimonials">
  <h2>154,186+ Happy customers</h2>

  <div
    id="pdp-testimonial-carousel"
    class="splide"
    aria-label="testimonials carousel"
  >
    <div class="splide__track">
      <ul class="splide__list">
        {% if testimonial_1_text != blank %}
        <li class="splide__slide">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" fill="none" viewBox="0 0 24 20"><path fill="#994E0E" d="M5.44928 20c-1.81643 0-3.18841-.657-4.11595-1.971C.444444 16.6763 0 14.8019 0 12.4058c0-2.74396.676328-5.15942 2.02899-7.24638C3.38164 3.07246 5.44927 1.35266 8.23188 0L10.087 3.71015c-1.73917.88888-3.05318 1.91304-3.94207 3.07246-.85024 1.12077-1.27536 2.55072-1.27536 4.28989.11594-.0387.30917-.058.57971-.058 1.23671 0 2.28019.3865 3.13043 1.1594.88889.7343 1.33333 1.7585 1.33333 3.0725 0 1.4686-.42512 2.628-1.27536 3.4782C7.78744 19.5749 6.72464 20 5.44928 20Zm12.98532 0c-1.8164 0-3.1884-.657-4.116-1.971-.8888-1.3527-1.3333-3.2271-1.3333-5.6232 0-2.74396.6763-5.15942 2.029-7.24638C16.3669 3.07246 18.4346 1.35266 21.2172 0l1.8551 3.71015c-1.7392.88888-3.0532 1.91304-3.9421 3.07246-.8502 1.12077-1.2753 2.55072-1.2753 4.28989.1159-.0387.3091-.058.5797-.058 1.2367 0 2.2802.3865 3.1304 1.1594.8889.7343 1.3333 1.7585 1.3333 3.0725 0 1.4686-.4251 2.628-1.2753 3.4782C20.7727 19.5749 19.7099 20 18.4346 20Z"/></svg>
          <p>{{ testimonial_1_text }}</p>
          <span><svg xmlns="http://www.w3.org/2000/svg" width="116" height="20" fill="none" viewBox="0 0 116 20"><path fill="#F69400" d="m10.5096 1.62334 1.9172 5.67344 5.9891.07031c.5156.00625.7281.6625.3156.96875l-4.8047 3.57656 1.7844 5.7172c.1531.4922-.4047.8969-.825.6l-4.8859-3.4656-4.88597 3.464c-.42032.2985-.97813-.1078-.825-.5984l1.78437-5.7172-4.80469-3.57656c-.414057-.30781-.2-.96406.31563-.97031l5.98906-.06875 1.91563-5.675c.16562-.4875.85627-.4875 1.02027.00156Zm24 0 1.9172 5.67344 5.9891.07031c.5156.00625.7281.6625.3156.96875l-4.8047 3.57656 1.7844 5.7172c.1531.4922-.4047.8969-.825.6l-4.8859-3.4656-4.886 3.464c-.4203.2985-.9781-.1078-.825-.5984l1.7844-5.7172-4.8047-3.57656c-.414-.30781-.2-.96406.3156-.97031l5.9891-.06875 1.9156-5.675c.1657-.4875.8563-.4875 1.0203.00156Zm24 0 1.9172 5.67344 5.9891.07031c.5156.00625.7281.6625.3156.96875l-4.8047 3.57656 1.7844 5.7172c.1531.4922-.4047.8969-.825.6l-4.8859-3.4656-4.886 3.464c-.4203.2985-.9781-.1078-.825-.5984l1.7844-5.7172-4.8047-3.57656c-.414-.30781-.2-.96406.3156-.97031l5.9891-.06875 1.9156-5.675c.1657-.4875.8563-.4875 1.0203.00156Zm24 0 1.9172 5.67344 5.9891.07031c.5156.00625.7281.6625.3156.96875l-4.8047 3.57656 1.7844 5.7172c.1531.4922-.4047.8969-.825.6l-4.8859-3.4656-4.886 3.464c-.4203.2985-.9781-.1078-.825-.5984l1.7844-5.7172-4.8047-3.57656c-.414-.30781-.2-.96406.3156-.97031l5.9891-.06875 1.9156-5.675c.1657-.4875.8563-.4875 1.0203.00156Zm24.0004 0 1.917 5.67344 5.989.07031c.516.00625.728.6625.316.96875l-4.805 3.57656 1.784 5.7172c.153.4922-.404.8969-.825.6L106 14.764l-4.886 3.464c-.42.2985-.978-.1078-.825-.5984l1.785-5.7172-4.805-3.57656c-.414-.30781-.2-.96406.3156-.97031l5.9894-.06875 1.915-5.675c.166-.4875.857-.4875 1.021.00156Z"/></svg> {{ testimonial_1_name }}</span>
        </li>
        {% endif %}
        {% if testimonial_2_text != blank %}
        <li class="splide__slide">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" fill="none" viewBox="0 0 24 20"><path fill="#994E0E" d="M5.44928 20c-1.81643 0-3.18841-.657-4.11595-1.971C.444444 16.6763 0 14.8019 0 12.4058c0-2.74396.676328-5.15942 2.02899-7.24638C3.38164 3.07246 5.44927 1.35266 8.23188 0L10.087 3.71015c-1.73917.88888-3.05318 1.91304-3.94207 3.07246-.85024 1.12077-1.27536 2.55072-1.27536 4.28989.11594-.0387.30917-.058.57971-.058 1.23671 0 2.28019.3865 3.13043 1.1594.88889.7343 1.33333 1.7585 1.33333 3.0725 0 1.4686-.42512 2.628-1.27536 3.4782C7.78744 19.5749 6.72464 20 5.44928 20Zm12.98532 0c-1.8164 0-3.1884-.657-4.116-1.971-.8888-1.3527-1.3333-3.2271-1.3333-5.6232 0-2.74396.6763-5.15942 2.029-7.24638C16.3669 3.07246 18.4346 1.35266 21.2172 0l1.8551 3.71015c-1.7392.88888-3.0532 1.91304-3.9421 3.07246-.8502 1.12077-1.2753 2.55072-1.2753 4.28989.1159-.0387.3091-.058.5797-.058 1.2367 0 2.2802.3865 3.1304 1.1594.8889.7343 1.3333 1.7585 1.3333 3.0725 0 1.4686-.4251 2.628-1.2753 3.4782C20.7727 19.5749 19.7099 20 18.4346 20Z"/></svg>
          <p>{{ testimonial_2_text }}</p>
          <span><svg xmlns="http://www.w3.org/2000/svg" width="116" height="20" fill="none" viewBox="0 0 116 20"><path fill="#F69400" d="m10.5096 1.62334 1.9172 5.67344 5.9891.07031c.5156.00625.7281.6625.3156.96875l-4.8047 3.57656 1.7844 5.7172c.1531.4922-.4047.8969-.825.6l-4.8859-3.4656-4.88597 3.464c-.42032.2985-.97813-.1078-.825-.5984l1.78437-5.7172-4.80469-3.57656c-.414057-.30781-.2-.96406.31563-.97031l5.98906-.06875 1.91563-5.675c.16562-.4875.85627-.4875 1.02027.00156Zm24 0 1.9172 5.67344 5.9891.07031c.5156.00625.7281.6625.3156.96875l-4.8047 3.57656 1.7844 5.7172c.1531.4922-.4047.8969-.825.6l-4.8859-3.4656-4.886 3.464c-.4203.2985-.9781-.1078-.825-.5984l1.7844-5.7172-4.8047-3.57656c-.414-.30781-.2-.96406.3156-.97031l5.9891-.06875 1.9156-5.675c.1657-.4875.8563-.4875 1.0203.00156Zm24 0 1.9172 5.67344 5.9891.07031c.5156.00625.7281.6625.3156.96875l-4.8047 3.57656 1.7844 5.7172c.1531.4922-.4047.8969-.825.6l-4.8859-3.4656-4.886 3.464c-.4203.2985-.9781-.1078-.825-.5984l1.7844-5.7172-4.8047-3.57656c-.414-.30781-.2-.96406.3156-.97031l5.9891-.06875 1.9156-5.675c.1657-.4875.8563-.4875 1.0203.00156Zm24 0 1.9172 5.67344 5.9891.07031c.5156.00625.7281.6625.3156.96875l-4.8047 3.57656 1.7844 5.7172c.1531.4922-.4047.8969-.825.6l-4.8859-3.4656-4.886 3.464c-.4203.2985-.9781-.1078-.825-.5984l1.7844-5.7172-4.8047-3.57656c-.414-.30781-.2-.96406.3156-.97031l5.9891-.06875 1.9156-5.675c.1657-.4875.8563-.4875 1.0203.00156Zm24.0004 0 1.917 5.67344 5.989.07031c.516.00625.728.6625.316.96875l-4.805 3.57656 1.784 5.7172c.153.4922-.404.8969-.825.6L106 14.764l-4.886 3.464c-.42.2985-.978-.1078-.825-.5984l1.785-5.7172-4.805-3.57656c-.414-.30781-.2-.96406.3156-.97031l5.9894-.06875 1.915-5.675c.166-.4875.857-.4875 1.021.00156Z"/></svg> {{ testimonial_2_name }}</span>
        </li>
        {% endif %}
        {% if testimonial_3_text != blank %}
        <li class="splide__slide">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" fill="none" viewBox="0 0 24 20"><path fill="#994E0E" d="M5.44928 20c-1.81643 0-3.18841-.657-4.11595-1.971C.444444 16.6763 0 14.8019 0 12.4058c0-2.74396.676328-5.15942 2.02899-7.24638C3.38164 3.07246 5.44927 1.35266 8.23188 0L10.087 3.71015c-1.73917.88888-3.05318 1.91304-3.94207 3.07246-.85024 1.12077-1.27536 2.55072-1.27536 4.28989.11594-.0387.30917-.058.57971-.058 1.23671 0 2.28019.3865 3.13043 1.1594.88889.7343 1.33333 1.7585 1.33333 3.0725 0 1.4686-.42512 2.628-1.27536 3.4782C7.78744 19.5749 6.72464 20 5.44928 20Zm12.98532 0c-1.8164 0-3.1884-.657-4.116-1.971-.8888-1.3527-1.3333-3.2271-1.3333-5.6232 0-2.74396.6763-5.15942 2.029-7.24638C16.3669 3.07246 18.4346 1.35266 21.2172 0l1.8551 3.71015c-1.7392.88888-3.0532 1.91304-3.9421 3.07246-.8502 1.12077-1.2753 2.55072-1.2753 4.28989.1159-.0387.3091-.058.5797-.058 1.2367 0 2.2802.3865 3.1304 1.1594.8889.7343 1.3333 1.7585 1.3333 3.0725 0 1.4686-.4251 2.628-1.2753 3.4782C20.7727 19.5749 19.7099 20 18.4346 20Z"/></svg>
          <p>{{ testimonial_3_text }}</p>
          <span><svg xmlns="http://www.w3.org/2000/svg" width="116" height="20" fill="none" viewBox="0 0 116 20"><path fill="#F69400" d="m10.5096 1.62334 1.9172 5.67344 5.9891.07031c.5156.00625.7281.6625.3156.96875l-4.8047 3.57656 1.7844 5.7172c.1531.4922-.4047.8969-.825.6l-4.8859-3.4656-4.88597 3.464c-.42032.2985-.97813-.1078-.825-.5984l1.78437-5.7172-4.80469-3.57656c-.414057-.30781-.2-.96406.31563-.97031l5.98906-.06875 1.91563-5.675c.16562-.4875.85627-.4875 1.02027.00156Zm24 0 1.9172 5.67344 5.9891.07031c.5156.00625.7281.6625.3156.96875l-4.8047 3.57656 1.7844 5.7172c.1531.4922-.4047.8969-.825.6l-4.8859-3.4656-4.886 3.464c-.4203.2985-.9781-.1078-.825-.5984l1.7844-5.7172-4.8047-3.57656c-.414-.30781-.2-.96406.3156-.97031l5.9891-.06875 1.9156-5.675c.1657-.4875.8563-.4875 1.0203.00156Zm24 0 1.9172 5.67344 5.9891.07031c.5156.00625.7281.6625.3156.96875l-4.8047 3.57656 1.7844 5.7172c.1531.4922-.4047.8969-.825.6l-4.8859-3.4656-4.886 3.464c-.4203.2985-.9781-.1078-.825-.5984l1.7844-5.7172-4.8047-3.57656c-.414-.30781-.2-.96406.3156-.97031l5.9891-.06875 1.9156-5.675c.1657-.4875.8563-.4875 1.0203.00156Zm24 0 1.9172 5.67344 5.9891.07031c.5156.00625.7281.6625.3156.96875l-4.8047 3.57656 1.7844 5.7172c.1531.4922-.4047.8969-.825.6l-4.8859-3.4656-4.886 3.464c-.4203.2985-.9781-.1078-.825-.5984l1.7844-5.7172-4.8047-3.57656c-.414-.30781-.2-.96406.3156-.97031l5.9891-.06875 1.9156-5.675c.1657-.4875.8563-.4875 1.0203.00156Zm24.0004 0 1.917 5.67344 5.989.07031c.516.00625.728.6625.316.96875l-4.805 3.57656 1.784 5.7172c.153.4922-.404.8969-.825.6L106 14.764l-4.886 3.464c-.42.2985-.978-.1078-.825-.5984l1.785-5.7172-4.805-3.57656c-.414-.30781-.2-.96406.3156-.97031l5.9894-.06875 1.915-5.675c.166-.4875.857-.4875 1.021.00156Z"/></svg> {{ testimonial_3_name }}</span>
        </li>
        {% endif %}
        {% if testimonial_4_text != blank %}
        <li class="splide__slide">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" fill="none" viewBox="0 0 24 20"><path fill="#994E0E" d="M5.44928 20c-1.81643 0-3.18841-.657-4.11595-1.971C.444444 16.6763 0 14.8019 0 12.4058c0-2.74396.676328-5.15942 2.02899-7.24638C3.38164 3.07246 5.44927 1.35266 8.23188 0L10.087 3.71015c-1.73917.88888-3.05318 1.91304-3.94207 3.07246-.85024 1.12077-1.27536 2.55072-1.27536 4.28989.11594-.0387.30917-.058.57971-.058 1.23671 0 2.28019.3865 3.13043 1.1594.88889.7343 1.33333 1.7585 1.33333 3.0725 0 1.4686-.42512 2.628-1.27536 3.4782C7.78744 19.5749 6.72464 20 5.44928 20Zm12.98532 0c-1.8164 0-3.1884-.657-4.116-1.971-.8888-1.3527-1.3333-3.2271-1.3333-5.6232 0-2.74396.6763-5.15942 2.029-7.24638C16.3669 3.07246 18.4346 1.35266 21.2172 0l1.8551 3.71015c-1.7392.88888-3.0532 1.91304-3.9421 3.07246-.8502 1.12077-1.2753 2.55072-1.2753 4.28989.1159-.0387.3091-.058.5797-.058 1.2367 0 2.2802.3865 3.1304 1.1594.8889.7343 1.3333 1.7585 1.3333 3.0725 0 1.4686-.4251 2.628-1.2753 3.4782C20.7727 19.5749 19.7099 20 18.4346 20Z"/></svg>
          <p>{{ testimonial_4_text }}</p>
          <span><svg xmlns="http://www.w3.org/2000/svg" width="116" height="20" fill="none" viewBox="0 0 116 20"><path fill="#F69400" d="m10.5096 1.62334 1.9172 5.67344 5.9891.07031c.5156.00625.7281.6625.3156.96875l-4.8047 3.57656 1.7844 5.7172c.1531.4922-.4047.8969-.825.6l-4.8859-3.4656-4.88597 3.464c-.42032.2985-.97813-.1078-.825-.5984l1.78437-5.7172-4.80469-3.57656c-.414057-.30781-.2-.96406.31563-.97031l5.98906-.06875 1.91563-5.675c.16562-.4875.85627-.4875 1.02027.00156Zm24 0 1.9172 5.67344 5.9891.07031c.5156.00625.7281.6625.3156.96875l-4.8047 3.57656 1.7844 5.7172c.1531.4922-.4047.8969-.825.6l-4.8859-3.4656-4.886 3.464c-.4203.2985-.9781-.1078-.825-.5984l1.7844-5.7172-4.8047-3.57656c-.414-.30781-.2-.96406.3156-.97031l5.9891-.06875 1.9156-5.675c.1657-.4875.8563-.4875 1.0203.00156Zm24 0 1.9172 5.67344 5.9891.07031c.5156.00625.7281.6625.3156.96875l-4.8047 3.57656 1.7844 5.7172c.1531.4922-.4047.8969-.825.6l-4.8859-3.4656-4.886 3.464c-.4203.2985-.9781-.1078-.825-.5984l1.7844-5.7172-4.8047-3.57656c-.414-.30781-.2-.96406.3156-.97031l5.9891-.06875 1.9156-5.675c.1657-.4875.8563-.4875 1.0203.00156Zm24 0 1.9172 5.67344 5.9891.07031c.5156.00625.7281.6625.3156.96875l-4.8047 3.57656 1.7844 5.7172c.1531.4922-.4047.8969-.825.6l-4.8859-3.4656-4.886 3.464c-.4203.2985-.9781-.1078-.825-.5984l1.7844-5.7172-4.8047-3.57656c-.414-.30781-.2-.96406.3156-.97031l5.9891-.06875 1.9156-5.675c.1657-.4875.8563-.4875 1.0203.00156Zm24.0004 0 1.917 5.67344 5.989.07031c.516.00625.728.6625.316.96875l-4.805 3.57656 1.784 5.7172c.153.4922-.404.8969-.825.6L106 14.764l-4.886 3.464c-.42.2985-.978-.1078-.825-.5984l1.785-5.7172-4.805-3.57656c-.414-.30781-.2-.96406.3156-.97031l5.9894-.06875 1.915-5.675c.166-.4875.857-.4875 1.021.00156Z"/></svg> {{ testimonial_4_name }}</span>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>

  <a href="#reviews" class="wayfx-btn wayfx-btn--outline">See all reviews</a>
</section>

<script>
  window.addEventListener('DOMContentLoaded', (e) => {
    var pdpTestimonials = new Splide( '#pdp-testimonial-carousel', {
      type      : 'slide',
      pagination: false,
      arrows    : false,
      perPage   : 3,
      gap: 24,
      breakpoints: {
        800: {
          perPage: 2,
          focus: 'center',
          trimSpace: false,
        },
        600: {
          perPage: 1,
          gap: 12,
        }
      }
    });

    pdpTestimonials.mount();
  });
</script>

{% if testimonial_1_text == blank %}
<style>
  .rtnu-testimonials{
    display: none;
  }
</style>
{% endif %}

{% schema %}
  {
    "name": "Testimonials",
    "settings": [

    ],
    "presets": [
      {
        "name": "Testimonials",
        "category": "General"
      }
    ]
  }
{% endschema %}
