<div class="wayfx-warrior__nutritionals">
  <div class="wayfx-warrior__nutritionals-head">
    <h2><span>Two</span> POWERFUL FOODS</h2>
    <p>Heart & Liver</p>
  </div>
  <div class="desktop-image desktop-only">
    <img loading="lazy"  src="{{ 'gsp-product-organs.jpg' | asset_img_url: '4000x' }}" aria-hidden="true" width="2000" height="995">
  </div>
  <div class="wayfx-wrapper">
    <img loading="lazy" class="mobile-only wayfx-full-width" src="{{ 'gsp-product-organs-mobile.jpg' | asset_img_url: '780x' }}" alt="" width="780" height="656">

    <div class="wayfx-grid wayfx-warrior__nutritionals-block">
      <div class="wayfx-grid__item">
        <div class="icon">
          <img loading="lazy" src="{{ 'nutritionals-icon-1.png' | asset_img_url: '180x' }}" aria-hidden="true" width="90" height="72">
        </div>
        <h2>MD-APPROVED FORMULATION</h2>
        <p>In partnership with Georges St-Pierre, WARRIOR is formulated by Dr. Paul Saladino MD, the leading authority on animal-based diets and the use of organs for health, strength and vitality.</p>
      </div>
      <div class="wayfx-grid__item">
        <div class="icon">
          <img loading="lazy" src="{{ 'nutritionals-icon-2.png' | asset_img_url: '180x' }}" aria-hidden="true" width="90" height="72">
        </div>
        <h2>REAL INGREDIENTS, <br>REAL NUTRIENTS</h2>
        <p>Unlike ordinary supplements which are synthesized from chemicals in a lab, WARRIOR is made with 100% real ingredients and real nutrients. </p>
      </div>
      <div class="wayfx-grid__item">
        <div class="icon">
          <img loading="lazy" src="{{ 'nutritionals-icon-3.png' | asset_img_url: '180x' }}" aria-hidden="true" width="90" height="72">
        </div>
        <h2>CHAMPIONSHIP QUALITY <br>INGREDIENTS</h2>
        <p>Sourced exclusively from grass-fed & grass-finished cattle. Hormone, GMO, pesticide and antibiotic free. </p>
      </div>
      <div class="wayfx-grid__item">
        <div class="icon">
          <img loading="lazy" src="{{ 'nutritionals-icon-4.png' | asset_img_url: '180x' }}" aria-hidden="true" width="90" height="72">
        </div>
        <h2>MAXIMUM NUTRIENT <br>AVAILABILITY</h2>
        <p>Freeze-dried to ensure all nutrients are retained in their natural form with maximum bioavailability so you FEEL IT FAST. </p>
      </div>
      <div class="wayfx-grid__item">
        <div class="icon">
          <img loading="lazy" src="{{ 'nutritionals-icon-5.png' | asset_img_url: '180x' }}" aria-hidden="true" width="90" height="72">
        </div>
        <h2>SIMPLE, CONVENIENT <br>& TASTELESS</h2>
        <p>Each serving provides the equivalent of about 1/2 oz each of fresh heart and liver in easy-to-take, taste-free capsules. Ideal for all busy Warrior schedules.</p>
      </div>
    </div>

    <h2 class="nutrients-heading"><span>12+</span> POWERFUL NUTRIENTS</h2>
      <div class="wayfx-grid wayfx-warrior_nutrients">
        <div class="wayfx-grid__item wayfx-product__nutrient">
          <div>
            <h3>CoQ10</h3>
            <div class="icon">
              <img loading="lazy" src="{{ 'nutrition-icon-1.png' | asset_img_url: '112x' }}" aria-hidden="true" width="56" height="56">
            </div>
          </div>
          <p>Heart is nature's richest source of CoQ10, a nutrient shown to improve mitochondrial function and energy production, and to enhance exercise performance.</p>
          <div data-more>
            <ul>
              <li>Improves mitochondrial function and energy production (<a href="https://www.nature.com/articles/s41598-019-44475-x#:~:text=At%20the%20subcellular%20level%2C%20tacrolimus,oxygen%20consumption%20and%20ATP%20production." target="_blank">20</a>).</li>
              <li>Enhances exercise performance in trained and untrained individuals (<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2315638/#B12" target="_blank">21</a>).</li>
            </ul>
          </div>
        </div>
        <div class="wayfx-grid__item wayfx-product__nutrient">
          <div>
            <h3>Anserine & Carnosine</h3>
            <div class="icon">
              <img loading="lazy" src="{{ 'nutrition-icon-2.png' | asset_img_url: '112x' }}" aria-hidden="true" width="56" height="56">
            </div>
          </div>
          <p>Two amino acids which are effective in reducing muscle fatigue and improving antioxidant activity.</p>
          <div data-more>
            <ul>
              <li>Dipeptides, known to have antioxidant effects and reduce muscle fatigue (<a href="https://www.researchgate.net/publication/271392763_Effects_of_Carnosine_and_Anserine_Supplementation_on_Relatively_High_Intensity_Endurance_Performance" target="_blank">22</a>).</li>
              <li>Improves antioxidant activity and cellular protection in exercise-induced stress (<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7231017/" target="_blank">23</a>).</li>
            </ul>
          </div>
        </div>
        <div class="wayfx-grid__item wayfx-product__nutrient">
          <div>
            <h3>Taurine</h3>
            <div class="icon">
              <img loading="lazy" src="{{ 'nutrition-icon-3.png' | asset_img_url: '112x' }}" aria-hidden="true" width="56" height="56">
            </div>
          </div>
          <p>Improves muscle function and exercise performance through the reduction of reactive oxygen species. Is also a powerful antioxidant in muscle tissue and improves insulin sensitivity.</p>
          <div data-more>
            <ul>
              <li>Essential to improve muscle function and exercise performance through the reduction of reactive oxygen species during muscle overuse (<a href="https://www.sciencedirect.com/science/article/pii/S0899900718302661?via%3Dihub" target="_blank">24</a>).</li>
              <li>Improves running performance in middle-distance runners (<a href="https://link.springer.com/article/10.1007/s00726-012-1372-1" target="_blank">25</a>).</li>
              <li>Powerful antioxidant in muscle tissue (<a href="https://www.frontiersin.org/articles/10.3389/fphys.2020.582449/full#:~:text=Taurine%20increases%20the%20muscle%20level,chloride%20channel%20conductance%20(gCl)." target="_blank">26</a>).</li>
              <li>Improves insulin sensitivity (<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7088015/#:~:text=oral%20administration%20of%20taurine%20can,globally%20(Willet%20et%20al.%202019)." target="_blank">27</a>).</li>
            </ul>
          </div>
        </div>
        <div class="wayfx-grid__item wayfx-product__nutrient">
          <div>
            <h3>Creatine</h3>
            <div class="icon">
              <img loading="lazy" src="{{ 'nutrition-icon-4.png' | asset_img_url: '112x' }}" aria-hidden="true" width="56" height="56">
            </div>
          </div>
          <p>Heart is one of nature's richest sources of this nutrient, which is crucial for muscle growth and recovery, and essential for energy production in the muscles.</p>
          <div data-more>
            <ul>
              <li>Crucial for muscle recovery and tissue repair (<a href="https://pubmed.ncbi.nlm.nih.gov/19490606/" target="_blank">28</a>).</li>
              <li>Essential for the production of energy in muscle tissue (<a href="https://pubmed.ncbi.nlm.nih.gov/10893433/" target="_blank">29</a>).</li>
              <li>Plays a critical role in anti oxidative reactions (<a href="https://pubmed.ncbi.nlm.nih.gov/11779131/" target="_blank">30</a>).</li>
            </ul>
          </div>
        </div>
        <div class="wayfx-grid__item wayfx-product__nutrient">
          <div>
            <h3>L-Carnitine</h3>
            <div class="icon">
              <img loading="lazy" src="{{ 'nutrition-icon-4.png' | asset_img_url: '112x' }}" aria-hidden="true" width="56" height="56">
            </div>
          </div>
          <p>Required to produce energy (ATP) in the muscles, and to protect against muscle damage. Improves sport and gym performance in elite athletes.</p>
          <div data-more>
            <ul>
              <li>Essential for reducing muscle soreness and protecting muscle against muscle damage (<a href="https://pubmed.ncbi.nlm.nih.gov/8858401/" target="_blank">31</a>).</li>
              <li>Improves physical output, muscle function, and overall exercise performance (<a href="https://pubmed.ncbi.nlm.nih.gov/2510191/" target="_blank">32</a>).</li>
              <li>Critical for producing energy (ATP) in muscle tissue from free fatty acids (<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5872767/" target="_blank">33</a>).</li>
            </ul>
          </div>
        </div>
        <div class="wayfx-grid__item wayfx-product__nutrient">
          <div>
            <h3>Vitamin A</h3>
            <div class="icon">
              <img loading="lazy" src="{{ 'nutrition-icon-5.png' | asset_img_url: '112x' }}" aria-hidden="true" width="56" height="56">
            </div>
          </div>
          <p>Essential for muscle growth and recovery; protein synthesis and testosterone production.</p>
          <div data-more>
            <ul>
              <li>Plays an important role in muscle growth. The body requires this vitamin for protein synthesis (<a href="https://pubmed.ncbi.nlm.nih.gov/677623/" target="_blank">1</a>).</li>
              <li>Helps in the production of testosterone in men (<a href="https://www.frontiersin.org/articles/10.3389/fendo.2018.00644/full" target="_blank">2</a>). Healthy levels of testosterone are important for muscle building in men.</li>
              <li>Improves muscle synthesis (<a href="https://pubmed.ncbi.nlm.nih.gov/21735106/" target="_blank">3</a>).</li>
              <li>Essential for the immune system and combating inflammation, crucial for recovery and repair (<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6162863/" target="_blank">4</a>).</li>
            </ul>
          </div>
        </div>
      </div>

      <div data-readmore>
        <div class="wayfx-grid toggled-content wayfx-warrior_nutrients">
          <div class="wayfx-grid__item wayfx-product__nutrient">
            <div>
              <h3>Vitamin K2</h3>
              <div class="icon">
                <img loading="lazy" src="{{ 'nutrition-icon-1.png' | asset_img_url: '112x' }}" aria-hidden="true" width="56" height="56">
              </div>
            </div>
            <p>Improves cardiac output, exercise performance, muscle cell growth, and bone density.</p>
            <div data-more>
              <ul>
                <li>Improves cardiac output and exercise performance (<a href="https://pubmed.ncbi.nlm.nih.gov/28646812/" target="_blank">5</a>).</li>
                <li>Improves muscle cell growth and proliferation (<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5884547/#:~:text=The%20presence%20of%20vitamin%20K2%20in%20skeletal%20muscle%20%5B16%5D%20implies,metabolically%20active%20(Fig%201A)." target="_blank">6</a>).</li>
                <li>Increases bone mineral density which is critical for strength and muscle maintenance (<a href="https://pubmed.ncbi.nlm.nih.gov/24841104/" target="_blank">7</a>).</li>
              </ul>
            </div>
          </div>
          <div class="wayfx-grid__item wayfx-product__nutrient">
            <div>
              <h3>Riboflavin</h3>
              <div class="icon">
                <img loading="lazy" src="{{ 'nutrition-icon-6.png' | asset_img_url: '112x' }}" aria-hidden="true" width="56" height="56">
              </div>
            </div>
            <p>Critical for post-exercise recovery, specifically muscle pain and soreness. Also required for energy production at a cellular level.</p>
            <div data-more>
              <ul>
                <li>Crucial for macronutrient (protein, carbs, and fats) metabolism and energy production (<a href="https://www.ncbi.nlm.nih.gov/books/NBK470460/" target="_blank">8</a>).</li>
                <li>Reduces muscle pain and soreness (<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5368102/#:~:text=Based%20upon%20the%20evidence%20that,this%20extreme%20level%20of%20exercise." target="_blank">9</a>).</li>
                <li>Powerful antioxidant known to protect cells against stress and injury—essential for recovery (<a href="https://www.cambridge.org/core/journals/british-journal-of-nutrition/article/riboflavin-vitamin-b2-and-oxidative-stress-a-review/808987B9D15917EC23885EDFF5E17534#:~:text=The%20results%20of%20the%20reviewed%20studies%20confirm%20the%20antioxidant%20nature%20of%20riboflavin%20and%20indicate%20that%20this%20vitamin%20can%20protect%20the%20body%20against%20oxidative%20stress%2C%20especially%20lipid%20peroxidation%20and%20reperfusion%20oxidative%20injury." target="_blank">10</a>).</li>
              </ul>
            </div>
          </div>
          <div class="wayfx-grid__item wayfx-product__nutrient">
            <div>
              <h3>Folate (B9) & B12</h3>
              <div class="icon">
                <img loading="lazy" src="{{ 'nutrition-icon-4.png' | asset_img_url: '112x' }}" aria-hidden="true" width="56" height="56">
              </div>
            </div>
            <p>Essential for red blood cell production to support energy production, and exercise performance. Also needed for muscle growth and repair.</p>
            <div data-more>
              <ul>
                <li>Essential for the rebuilding and repair of muscle tissue (<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4819126/" target="_blank">11</a>).</li>
                <li>Required for red blood cell production to support any type of physical activity (<a href="https://pubmed.ncbi.nlm.nih.gov/15189115/" target="_blank">12</a>).</li>
                <li>Along with many B vitamins, folate and B12 are critical for energy production (<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7019700/" target="_blank">13</a>).</li>
              </ul>
            </div>
          </div>
          <div class="wayfx-grid__item wayfx-product__nutrient">
            <div>
              <h3>Choline</h3>
              <div class="icon">
                <img loading="lazy" src="{{ 'nutrition-icon-6.png' | asset_img_url: '112x' }}" aria-hidden="true" width="56" height="56">
              </div>
            </div>
            <p>A key nutrient involved in muscle neurotransmitter synthesis.</p>
            <div data-more>
              <ul>
                <li>Required for acetylcholine (neurotransmitter) synthesis which is necessary for proper muscle functioning (<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6213596/#:~:text=Choline%2C%20an%20essential%20dietary%20nutrient,stages%20of%20the%20life%20cycle." target="_blank">14</a>).</li>
              </ul>
            </div>
          </div>
          <div class="wayfx-grid__item wayfx-product__nutrient">
            <div>
              <h3>Glutamine</h3>
              <div class="icon">
                <img loading="lazy" src="{{ 'nutrition-icon-3.png' | asset_img_url: '112x' }}" aria-hidden="true" width="56" height="56">
              </div>
            </div>
            <p>A crucial amino acid required to speed up muscle recovery and reduce delayed-onset muscle soreness.</p>
            <div data-more>
              <ul>
                <li>A crucial amino acid required to speed up muscle recovery and reduce overall soreness (<a href="https://pubmed.ncbi.nlm.nih.gov/25811544/" target="_blank">15</a>).</li>
                <li>Critical for several biological functions, including energy production, protein synthesis, immune cell activity, and more (<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6520936/#:~:text=In%20the%20skeletal%20muscle%2C%20glutamine,muscles%20%5B22%2C23%5D." target="_blank">16</a>).</li>
              </ul>
            </div>
          </div>
          <div class="wayfx-grid__item wayfx-product__nutrient">
            <div>
              <h3>Iron</h3>
              <div class="icon">
                <img loading="lazy" src="{{ 'nutrition-icon-2.png' | asset_img_url: '112x' }}" aria-hidden="true" width="56" height="56">
              </div>
            </div>
            <p>A critical trace mineral required for red blood cell formation and the repair of muscle tissue.</p>
            <div data-more>
              <ul>
                <li>Required for red blood cell formation and optimal performance (<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5706455/" target="_blank">17</a>).</li>
                <li>Critical for regeneration of muscle tissue and repair (<a href="https://pubmed.ncbi.nlm.nih.gov/27465531/" target="_blank">18</a>).</li>
                <li>Hepdicidin, a peptide directly involved in iron metabolism as well as the innate immune response (<a href="https://www.frontiersin.org/articles/10.3389/fphys.2019.01294/full#:~:text=Hepcidin%2C%20the%20master%20regulator%20of,iron%20restricted%20erythropoiesis%20and%20anemia." target="_blank">19</a>).</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<script>
$("div[data-more]").hide().each(function () {
  var open_text = $(this).data("Learn more");
  open_text = typeof open_text !== "undefined" ? open_text : "Learn more";
  $(this).before('<a data-more-toggle href="#" class="more-toggle">' + open_text + "</a>");
});

$("[data-more-toggle]").click(function (e) {
  e.preventDefault();
  $(this).toggleClass("active");
  var open_text = $(this).siblings("div[data-more]").data("open-text");
  var close_text = $(this).siblings("div[data-more]").data("close-text");

  if (typeof open_text == "undefined") {
    open_text = "Learn more";
  }

  if (typeof close_text == "undefined") {
    close_text = "Close";
  }

  if ($(this).text() == open_text) {
    $(this).html(close_text).next("div[data-more]").slideToggle("fast").after(this);
  } else {
    $(this).html(open_text).prev("div[data-more]").slideToggle("fast").before(this);
  }
});
</script>

{% schema %}
{
  "name": "Warrior Nutritionals"
}
{% endschema %}
