{% layout none %}

<!DOCTYPE html>
<!----

WW      WW   AAA   YY   YY FFFFFFF XX    XX
WW      WW  AAAAA  YY   YY FF       XX  XX
WW   W  WW AA   AA  YYYYY  FFFF      XXXX
  WW WWW WW AAAAAAA   YYY   FF       XX  XX
  WW   WW  AA   AA   YYY   FF      XX    XX

Ecommerce Pros at [https://wayfx.com]

---->
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% render 'elevar-head-listener' %}
    {% render 'elevar-head' %}
    <!-- Google Optimize -->
    <script src="https://www.googleoptimize.com/optimize.js?id=OPT-547RS9G"></script>

    <meta name="google-site-verification" content="NhUacuWncFuQl8UY9h2jWL-wc6vU37R0audj1A8xCiE" />
    <meta name="facebook-domain-verification" content="jb38zgi56bgn4v5gp98pxg4nhlie81" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ 'gift_cards.issued.title' | t: value: formatted_initial_value, shop: shop.name }}</title>
    <meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}">
    {%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros | strip_html -%}
    {%- include 'header-scripts' -%}
    {{- 'theme.css' | asset_url | stylesheet_tag -}}

    {{ content_for_header }}

    {%- include 'oldIE-js' -%}
    {%- if template contains 'customers' -%}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {%- endif -%}
    {% render 'minmaxify-head' %}

  </head>

  <body>
    {% render 'elevar-body-end' %}
    {%- section 'header' -%}
    <div class="wayfx-header__mobile-nav">
      <div class="wayfx-wrapper">
        <nav role="navigation" aria-label="Main navigation">
          <ul id="wayfx-main-menu-mobile" class="wayfx-header__mobile-nav-wrapper">
            {% for link in linklists.wayfx-header.links %}
            <li class="wayfx-header__mobile-nav-link{% if link.active %} active{% endif %}">{{ link.title | link_to: link.url }}</li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>

    <section class="rtnu-gift-card">
      <div class="wayfx-wrapper">
        <h1 class="gift-card__heading">{{ 'gift_cards.issued.subtext' | t }}</h1>
        <div class="gift-card__price">
          <p>
            {% if settings.currency_code_enabled %}
              {{ gift_card.initial_value | money_with_currency }}
            {% else %}
              {{ gift_card.initial_value | money }}
            {% endif %}
          </p>
          {%- if gift_card.enabled == false or gift_card.expired -%}
            <p class="gift-card__label badge badge--{{ settings.sold_out_badge_color_scheme }}">{{ 'gift_cards.issued.expired' | t }}</p>
          {%- endif -%}
        </div>

        {% if settings.currency_code_enabled %}
          {%- assign gift_card_balance = gift_card.balance | money_with_currency -%}
        {% else %}
          {%- assign gift_card_balance = gift_card.balance | money -%}
        {% endif %}
        {%- if gift_card.balance != gift_card.initial_value -%}
          <p class="gift-card__label caption-large">{{ 'gift_cards.issued.remaining_html' | t: balance: gift_card_balance }}</p>
        {%- endif -%}

        <div class="gift-card">
          <div class="gift-card__image-wrapper">
            <img src="{{ 'GC1.png' | asset_img_url: '1200x' }}" alt="" class="gift-card__image" height="{{ 600 | divided_by: 1.5 }}" width="600" loading="lazy">
          </div>
          <div class="gift-card__information">
            <input
              type="text"
              class="gift-card__number"
              value="{{ gift_card.code | format_code }}"
              aria-label="{{ 'gift_cards.issued.gift_card_code' | t }}"
              readonly
            >
            <div class="gift-card__copy-code">
              <button class="link gift-card__copy-link wayfx-btn">{{ 'gift_cards.issued.copy_code' | t }}</button>
              <span class="gift-card__copy-success form__message" role="status"></span>
              <template>
                {{ 'gift_cards.issued.copy_code_success' | t }}
              </template>
            </div>
            {% comment %} Apple wallet {%- if gift_card.pass_url -%}
              <a href="{{ gift_card.pass_url }}" class="gift_card__apple-wallet">
                <img src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" width="120" height="40" alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}" loading="lazy">
              </a>
            {%- endif -%} {% endcomment %}
            <div class="gift-card__buttons no-print">
              <a
                href="{{ shop.url }}/collections/build-your-stack/"
                class="wayfx-text-link"
                target="_blank"
                rel="noopener"
                aria-describedby="a11y-new-window-message"
              >
                {{ 'gift_cards.issued.shop_link' | t }}
              </a>
              {% comment %} <button
                class="button button--secondary"
                onclick="window.print();"
              >
                {{ 'gift_cards.issued.print_gift_card' | t }}
              </button> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </section>

    {%- section 'footer' -%}
    <script>
      var template = document.getElementsByTagName("template")[0];
      var clonedTemplate = template.content.cloneNode(true);

      var isMessageDisplayed = false
      document
      .querySelector('.gift-card__copy-link')
      .addEventListener('click', () => {
        navigator.clipboard.writeText(document.querySelector('.gift-card__number').value).then(function () {
          if (!isMessageDisplayed) {
            document.querySelector('.gift-card__copy-success').appendChild(clonedTemplate);
            isMessageDisplayed = true
          }
        });
      });
    </script>
    <script src="{{ 'theme.js' | asset_url }}"></script>
    <script>
      {%- if resetPassword -%}
      $(function() {
        wayfx.resetPasswordSuccess();
      });
      {%- endif -%}
    </script>
    {% comment %}Override GrowLTV linear background on slider bullets{% endcomment %}
    <style>
      .swiper-pagination-bullets {
        background: transparent !important;
      }
    </style>
  </body>
</html>